<h1>Listing crews</h1>
<%= link_to 'Add a new Crew', new_crew_path, class: "button green-gradient huge icon-plus" %>
<br /><br />
<table>
  <tr>
    <th>Crew name</th>
    <th>Crew base address</th>
    <th>Lat/Lng</th>
    <th>Crew size</th>
    <th>Velocity</th>
    <th>order</th>
    <th></th>
  </tr>

<% @crews.each do |crew| %>
  <tr>
    <td><div style="background-color: <%= crew.background_color %>; border: 1px solid <%= crew.border_color %>; color: <%= crew.text_color %>; padding: 5px 10px;"><%= crew.crew_name %></div></td>
    <td><%= crew.crew_base_address %></td>
    <td><%= crew.lat %>, <%= crew.lng %></td>
    <td><%= crew.crew_size %></td>
    <td><%= crew.velocity %></td>
    <td><%= crew.ordering %> <%= crew.background_color %></td>
    <td><%= link_to 'Edit', edit_crew_path(crew), class: "button blue-gradient" %>
    &nbsp; <%= link_to 'Destroy', crew, confirm: 'Are you sure?', method: :delete, class: "button red-gradient round icon-cross compact" %></td>
  </tr>
<% end %>
</table>

<br />

