<h1>Listing quarries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quarries.each do |quarry| %>
  <tr>
    <td><%= quarry.name %></td>
    <td><%= quarry.lat %></td>
    <td><%= quarry.lng %></td>
    <td><%= quarry.address_1 %></td>
    <td><%= quarry.address_2 %></td>
    <td><%= quarry.city %></td>
    <td><%= quarry.state %></td>
    <td><%= quarry.zip %></td>
    <td><%= link_to 'Show', quarry %></td>
    <td><%= link_to 'Edit', edit_quarry_path(quarry) %></td>
    <td><%= link_to 'Destroy', quarry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quarry', new_quarry_path %>
