<h3>Large Deals</h3>
<div id="todo-tables">
<table class="table_liquid" cellspacing="0">
    <caption></caption>
      <tr>
        <th class="nobg">Phone calls</th>
        <th>Phone</th>
        <th>$$$ Potential</th>
        <th>% Probability</th>
        <th>Projected Sale $$</th>
        <th>$$$ Result</th>
        <th>Expected Close</th>
        <th>Current Situation</th>
        <th>Followup on</th>
        <th>Next Action</th>
        <th>Done?</th>
      </tr>
	  <% @todos.select{|t| t.contact.big_potential_deal? && t.next_action_id && t.contact_id && t.next_action.requires_phone_call && t.done != true }.sort{|x,y| x.followup_date <=> y.followup_date }.each do |todo| %>
	    <tr class="<%= cycle("", "alt", :name => "row_class") -%> bg-<%= todo.row_highlight_color %>">
	      	<th class="spec"><%= link_to todo.contact.name, (todo.contact rescue ""), class: "button tiny black-gradient glossy icon-eye" %>
			
			<br /><%= todo.contact.created_at.strftime("%m/%d/%Y") %> | <%= todo.contact.campaign.name rescue todo.contact.company %>
			</th>
        <td><%=h todo.contact.phone rescue "" %>
			<%=raw "<br />Alt: #{todo.contact.phone_alt}" if todo.contact.phone_alt && !todo.contact.phone_alt.blank? %>
		</td>
		<td>
			<%= todo.revenue_potential rescue "" %>
		</td>
		<td>
			<%= todo.percentage_probability rescue "" %>
		</td>
		<td>
			<%= todo.projected_sale_amount rescue "" %>
		</td>
		<td>
			<%= todo.revenue_result rescue "" %>
		</td>
		<td>
			<%= todo.expected_close_date.strftime('%m/%d') rescue "" %>
		</td>
		<td>
			<%= todo.current_situation rescue "" %>
		</td>
		<td>
				<%=h todo.followup_date.strftime('%m/%d at %I:%M %p ') rescue "not set" %>
				<% unless todo.status_flag.blank? %>
				 <span class="button tiny orange-gradient"><%= todo.status_flag %></span> 
				<% end %>
		</td>
		<td>
			<%= todo.notes rescue "" %>
		</td>
        <td><%= link_to "", "/dashboard/clear_todo/#{todo.id}", class:"button icon-cross red-gradient" %></td>
      </tr> 
   <% end %>
</table>

<h3>Todo-List</h3>

<table class="table_liquid" cellspacing="0">
    <caption></caption>
      <tr>
        <th class="nobg">Phone calls</th>
        <th>Phone</th>
        <th>Referencing</th>
        <th>Notes</th>
        <th>View</th>
        <th>Done?</th>
      </tr>
	  <% @todos.select{|t| !t.contact.big_potential_deal? && t.next_action_id && t.contact_id && t.next_action.requires_phone_call && t.done != true }.sort{|x,y| x.followup_date <=> y.followup_date }.each do |todo| %>
	    <tr class="<%= cycle("", "alt", :name => "row_class") -%>">
	      <th class="spec"><%=h todo.contact.name rescue " " %></th>
        <td><%=h todo.contact.phone rescue "" %>
			<%=raw "<br />Alt: #{todo.contact.phone_alt}" if todo.contact.phone_alt && !todo.contact.phone_alt.blank? %></td>
        <td><%=h todo.referencing rescue "" %></td>
				<% if (Time.now).beginning_of_day >= todo.followup_date.beginning_of_day %>
					<td>
						<span style="color:#F00;"><strong>PAST DUE: </strong></span><%=h ((todo.notes rescue "") + " Follow-Up on: #{todo.followup_date.strftime("%m/%d at %I:%M %p ") rescue "not set" }") %><%= (todo.followup_date).beginning_of_day %>
					</td>
				<% elsif (Time.now).beginning_of_day + 1.day >= todo.followup_date.beginning_of_day %>
        	<td>
						<span style="color:#CD8500;">DUE TODAY: </span><%=h ((todo.notes rescue "") + " Follow-Up on: #{todo.followup_date.strftime("%m/%d at %I:%M %p ") rescue "not set" }") %><%= (todo.followup_date).beginning_of_day %>
					</td>
				<% else %>
					<td><%=h ((todo.notes rescue "") + " Follow-Up on: #{todo.followup_date.strftime("%m/%d at %I:%M %p ") rescue "not set" }") %></td>
				<% end %>
        <td><%= link_to "View", (todo.contact rescue "") %></td>
        <td><%= link_to image_tag("24_tick.png"), "/dashboard/clear_todo/#{todo.id}" %></td>
      </tr> 
   <% end %>
</table>
</div>