<p>Dear <%= @estimate.job.contact.first_name %> <%= @estimate.job.contact.last_name %>,</p>
	<% vars = YAML::load(@estimate.flashvars).with_indifferent_access; @job = @estimate.job; @type = @estimate.job_type.kind %>
	<% if @job.job_calc_type == "pad" %>
	<p>
I've completed an estimate for a <%= "#{vars[:job_width]}' x #{vars[:job_length]}' - #{vars[:job_quality]} Foundation" %>
		<%=raw "#{vars[:off_level_fill_type]}" if @type != "Economy" %></p>
	<% elsif @job.job_calc_type == "adhoc" %>
<p>I've completed an estimate for the following:</p>
	
	<p><%= @job.foundation.kind %></p>
	
	<% else %>
	<p>
I've completed an estimate for a <%= "#{@job.width}' x #{@job.length}'" %> <%= @job.foundation.kind %> - <%= @job.foundation_calculator.description %></p>
	<% end %>

	
<p>If you have any problems accessing the estimate, please feel free to call me with any questions, comments, or concerns.</p>
<p>To view your estimate follow this link below to view it. </p>

<p><a href="http://app.bedrockfoundations.com/e/<%= @estimate.token %>">View your Estimate</a>
http://app.bedrockfoundations.com/e/<%= @estimate.token %> 


<p>Yours truly,</p>

<p>Eli Stoltzfus<br />
Bedrock Foundations DBA Abundant Life Landscaping LLC.<br />
<%= @estimate.job.location.phone rescue "717-587-7062" %></p>