<div style="width: 75%; margin: 0px auto; text-align:center;">
	<h1>Bed Rock Foundations</h1>
	<p style="margin-top: -20px;">dba. Abundant Life Landscaping, LLC</p>
</div>
<table style="width: 90%; margin: 0px auto;">
	<tr>
		<td colspan="2" style="left">
				<strong><%= "#{@estimate.job.location.name}, #{@estimate.job.location.abbreviation}" %> </strong>  Location<br />
				<%= @estimate.job.location.phone %>
		</td>
		<td colspan="2">
			<strong>Invoice No:</strong> #<%= @estimate.invoice_number %><br />
			<strong>Crew:</strong> <%= @estimate.contract.crew.crew_name rescue "none assigned" %><br />
			<strong>Rig #:</strong>____________
		</td>
	</tr>
	<tr>
		<td colspan="4"><hr /></td>
	</tr>
	<tr>
		<td colspan="2"><%= @options_for_job[:shed_company] rescue "" %></td>
		<td><strong>Date of Est:</strong> <%= @options_for_job[:estimate_date] %></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
		<td><strong>Scheduled:</strong> <%= @estimate.contract.scheduled_date.strftime("%m/%d/%Y") rescue "" %> 
			<% if @estimate.contract && @estimate.contract.arrival_range %>
				At <%= @estimate.contract.arrival_range.early rescue "TBD" %></td>
			<% end %>
	</tr>
	<tr>
		<td colspan="2"><strong>Cust. Name:</strong> <%= @options_for_job[:contact_name] %></td>
		<td colspan="2"><strong>Phone Home:</strong> <%= @options_for_job[:contact_phone_home] %></td>
	</tr>
	<tr>
		<td colspan="2"><strong>Address:</strong> <%= @options_for_job[:contact_address] %></td>
		<td colspan="2"><strong>Phone Cell:</strong> <%= @options_for_job[:contact_phone_cell] %></td>
	</tr>
	<tr>
		<td colspan="2"><%= @options_for_job[:contact_address2] %></td>
		<td colspan="2"><strong>Phone Work:</strong> <%= @options_for_job[:contact_phone_work] %></td>
	</tr>
	<tr>
		<td colspan="2"><strong>Email:</strong> <%= @options_for_job[:contact_email] %></td>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="4"><hr /></td>
	</tr>
	<% if @options_for_job[:job_width].to_i != 0 && @options_for_job[:job_length].to_i != 0 %>
		<tr>
			<td colspan="3">
				<% if @job.job_calc_type == "pad" %>
					<%= "#{@job.width}' x #{@job.length}' - #{@job.job_quick_title} Foundation" %>
					<%=raw "<br />&nbsp;&nbsp;&nbsp;-#{@job.off_level_fill_type}" if @type != "Economy" %>
				<% elsif @job.job_calc_type == "adhoc" %>
					<%= @job.foundation.kind %>
				<% else %>
					<%= "#{@job.width}' x #{@job.length}'" %> <%= @job.foundation.kind %> - <%= @job.foundation_calculator.description %>
				<% end %>
			</td>
			<td colspan="1" style="text-align: right;">
				<strong>
					<% if @job.job_calc_type == "pad" %>
						<%= money_from_cents(@job.specific_offlevel(@type)[:zero][0] + (@job.discount * 100)) %>
					<% elsif @job.job_calc_type != "adhoc" %>
						<%= money_from_cents(@job.price_in_cents - @job.addition_prices_totaled - (@job.pad_job.extra_slope_costs rescue 0)  + (@job.discount * 100)) %>
					<% end %>
				</strong>
			</td>
		</tr>

	<% end %>
	<% if @job.job_calc_type == "pad" && @type != "Economy" %>
		<% if @estimate.job.border_sixbysix %>
			<tr>
				<td colspan="3">
					With 6" x 6" timbers <%= "& #{@job.trex_color} composite capping" if @type == "Elite" %>
				</td>
			</tr>
		<% else %>
			<tr>
				<td colspan="3">
					With 4" x 6" timbers <%= "& #{@job.trex_color} composite capping" if @type == "Elite" %>
				</td>
			</tr>
		<% end %>
	<% end %>
	<% if @job.has_erosion_control_lft? %>
		<tr>
			<td colspan="3">
				<%= "With #{@job.erosion_control_lft rescue 0}\" of Erosion Control Wire" %>
			</td>
			<td colspan="1" style="text-align: right;">
				+<%= "#{money_from_cents(@job.pad_job.erosion_control_cost) }" %>
			</td>
		</tr>
	<% end %>
	<% if @options_for_job[:job_width].to_i != 0 && @options_for_job[:job_length].to_i != 0 && @job.job_calc_type != "adhoc" %>
		<tr>
			<td colspan=4 style="font-size: 0.8em;">
				<strong>Description:</strong>
				 <%= @job.job_description_for_flash(@type) %>
			</td>
		</tr>
	<% elsif @job.job_calc_type == "adhoc" %>
		<tr>
			<td colspan="3" style="font-size: 0.8em;">
				<strong>Description:</strong>
				 <%= @job.description %>
			</td>
			<td colspan="1" style="text-align: right;">
				<strong>
						<%= money_from_cents(@job.adhoc_job.total_price + (@job.additional_price.to_f * 100)) %>
				</strong>
			</td>
		</tr>
	<% else %>
	<tr>
		<td colspan="4" style="font-size: 0.8em;">
			<strong>Description:</strong>
			 <%= @job.description %>
		</td>
	</tr>
	<% end %>
		
	
	<% if @job.off_level_amount_in_inches %>
		<tr>
			<td colspan="3">
				With <%= @job.off_level_amount_in_inches %>" Off-Level
			</td>
			<td colspan="1" style="text-align: right;">
				+<%= money_from_cents (@job.pad_job.extra_slope_costs)  %>
			</td>
		</tr>
	<% end %>
	<% if @estimate.off_level_to_show != "" && @estimate.off_level_to_show != nil && @job.job_calc_type != "adhoc" %>
		<tr>
			<td colspan="1">
				<strong>Estimated Off-Level Price</strong><br />
				<span style="font-size:0.8em;">
					The off-level amount of the pad area will be accurately measured and a price given upon arrival at the job site, before any work begins.  The estimates to the right are the adjustments that may/may not be needed based on the true off-level amount of the surface. 
				</span>
			</td>
			<td colspan="2">
				<ul style="list-style-type:none; text-align:left; width:120px;">
					<% @job.specific_offlevel_diff(@type).each do |k, v| %>
						<% if k != :zero && @estimate.off_level_to_show.include?(v[1].to_s) %>
							<li><strong><%= v[1] %>"</strong> +<%= money_from_cents(v[0] - @job.specific_offlevel_diff(@type)[:zero][0]) %></li>
						<% end %>
					<% end %>
				<ul>
			</td>
			<td>&nbsp;</td>
		</tr>
	<% end %>
	<% if @estimate.job.job_additions.count > 0 %>
		<tr>
			<td colspan="3">
				<strong>Additional Items:</strong>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<hr style="color:#aaa;" />
			</td>
		</tr>
		<% @estimate.job.job_additions.each do |a| %>
			<tr>
				<td colspan="3">
					<span style="font-size:0.8em;"><%= a.addition_description %></span>
				</td>
				<td style="text-align: right;">
					<strong>+<%= money_from_cents a.addition_price_in_cents %></strong>
				</td>
			</tr>
			<% if a != @estimate.job.job_additions.last %>
				<tr>
					<td colspan="4">
						<hr style="color:#aaa;" />
						<!-- <%= @job.addition_prices_totaled %> -->
					</td>
				</tr>
			<% end %>
		<% end %>
	<% end %>
	<% if @job.description && @job.description != "" && @job.job_calc_type != "adhoc" %>
		<tr>
			<td colspan="4">
				<strong>Additional Notes:</strong>
				<span style="font-size:0.8em;"><%= @job.description %></span>
			</td>
		</tr>
	<% end %>






<!-- BUNDLE TOGETHER BUILDINGS -->

	<% bundle_total = 0 %>
	<% if @job.has_bundles? %>	
		<% for bundle in Job.find(:all, :conditions => ["bundle_with_job_id = ?",@job.id]) %>
		<%	bundle_total += bundle.price_in_cents %>
		<%= render partial: "estimates/print_bundle", locals: {job: bundle} %>
<script type="text/javascript">
	// alert("<%= bundle_total %>");
</script>
		<% end %>
	<% end %>
	<tr><td><%= bundle_total %></td></tr>











	<tr>
		<td colspan="4"><hr /></td>
	</tr>
	<tr>
		<td colspan="4"></td>
	</tr>
	<tr>
		<td colspan="3">
		<p style="font-size: 0.8em;">	
			<br />
			<strong>Make checks payable to:</strong><br /> 
			Bed Rock Foundations<br /> 
			461 Old Wilmington Rd.<br />
			Coatesville, PA 19320</p>
		</td>
		<td colspan="1">
			<% if @estimate.job.discount && @estimate.job.discount != 0.00 %>
				<p style="font-family: 'Helvetica', Arial, sans-serif; font-style: italic; font-size: 12px; color: #C03; text-align:right; width:150px;">
					Special Discount: <strong><%= money_from_cents (@estimate.job.discount * 100) %></strong>
				</p>
			<% end %>
			<strong>Total:</strong>
			<div style="border: 1px solid black; width:150px; height: 35px; text-align:center; line-height: 4px;">
				<% if @estimate.show_total_on_print %>
					<% if @job.job_type.kind == @type || @job.job_calc_type == "adhoc" || @job.foundation_kind.downcase.include?("concrete") %>
						<p><strong><%= money_from_cents(
								bundle_total + @job.price_in_cents) %></strong></p>
						<!-- Price in Cents only -->
						<!-- <%= @job.job_type.kind %> -->
						<!-- <%= @type %> -->
					<% else %>
							<% 	if @job.off_level_amount_in_inches.nil? || @job.off_level_amount_in_inches == 0
									offleveldifferential = 0
								else
									offleveldifferential = @job.specific_offlevel(@type)[:zero][0] - @job.specific_offlevel(@job.job_type.kind)[:zero][0]
								end									
							%>
						<p><strong><%= "#{money_from_cents(bundle_total + @job.price_in_cents + offleveldifferential)}" %></strong></p>
						<!-- Price in Cents plus offlevel differential -->
					<% end %>					
				<% end %>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="4">
			<p style="font-size: 0.8em;">
				<strong>Disclaimer:</strong> <span>Bed Rock Foundations and any and all affiliates are not responsible for damage to any of the following: lawn, driveway, pipes, wires, cables, water lines, septic lines, gas lines, roots, trees or anything else that may obstruct or hinder the construction of the foundation.  Customer is responsible for acquiring all permits if needed, this is the sole responsibility of customer.</span>
			<p>
		</td>
	</tr>
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr>
		<td colspan="3">
			<strong>Customer Signature:</strong>_______________________________
		</td>
		<td colspan="1"><strong>Date:</strong>_______________</td>
	</tr>
</table>