
	<tr>
		<td colspan=4><hr /></td>
	</tr>
	<% if @options_for_job[:job_width].to_i != 0 && @options_for_job[:job_length].to_i != 0 %>
		<tr>
			<td colspan=3>
				<% if job.job_calc_type == "pad" %>
					<%= "#{job.width}' x #{job.length}' - #{job.job_quick_title} Foundation" %>
					<%=raw "<br />&nbsp;&nbsp;&nbsp;-#{job.off_level_fill_type}" if job.foundation.type != "Economy" %>
				<% elsif job.job_calc_type == "adhoc" %>
					<%= job.foundation.kind %>
				<% else %>
					<%= "#{job.width}' x #{job.length}'" %> <%= job.foundation.kind %> - <%= job.foundation_calculator.description %>
				<% end %>
			</td>
			<td colspan=1 style="text-align: right;">
				<strong>
					<% if job.job_calc_type == "pad" %>
						<%= money_from_cents(job.specific_offlevel(job.foundation.type)[:zero][0] + (job.discount * 100)) %>
					<% elsif job.job_calc_type != "adhoc" %>
						<%= money_from_cents(job.price_in_cents - job.addition_prices_totaled - (job.pad_job.extra_slope_costs rescue 0)  + (job.discount * 100)) %>
					<% end %>
				</strong>
			</td>
		</tr>

	<% end %>
	<% if job.job_calc_type == "pad" && job.foundation.kind != "Economy" %>
		<% if @estimate.job.border_sixbysix %>
			<tr>
				<td colspan=3>
					With 6" x 6" timbers <%= "& #{job.trex_color} composite capping" if job.foundation.type == "Elite" %>
				</td>
			</tr>
		<% else %>
			<tr>
				<td colspan=3>
					With 4" x 6" timbers <%= "& #{job.trex_color} composite capping" if job.foundation.type == "Elite" %>
				</td>
			</tr>
		<% end %>
	<% end %>
	<% if job.has_erosion_control_lft? %>
		<tr>
			<td colspan=3>
				<%= "With #{job.erosion_control_lft rescue 0}\" of Erosion Control Wire" %>
			</td>
			<td colspan=1 style="text-align: right;">
				+<%= "#{money_from_cents(job.pad_job.erosion_control_cost) }" %>
			</td>
		</tr>
	<% end %>
	<% if @options_for_job[:job_width].to_i != 0 && @options_for_job[:job_length].to_i != 0 && job.job_calc_type != "adhoc" %>
		<tr>
			<td colspan=4 style="font-size: 0.8em;">
				<strong>Description:</strong>
				 <%= job.job_description_for_flash(job.foundation.kind) %>
			</td>
		</tr>
	<% elsif job.job_calc_type == "adhoc" %>
		<tr>
			<td colspan=3 style="font-size: 0.8em;">
				<strong>Description:</strong>
				 <%= job.description %>
			</td>
			<td colspan=1 style="text-align: right;">
				<strong>
						<%= money_from_cents(job.adhoc_job.total_price + (job.additional_price.to_f * 100)) %>
				</strong>
			</td>
		</tr>
	<% else %>
	<tr>
		<td colspan=4 style="font-size: 0.8em;">
			<strong>Description:</strong>
			 <%= job.description %>
		</td>
	</tr>
	<% end %>
		
	
	<% if job.off_level_amount_in_inches %>
		<tr>
			<td colspan=3>
				With <%= job.off_level_amount_in_inches %>" Off-Level
			</td>
			<td colspan=1 style="text-align: right;">
				+<%= money_from_cents (job.pad_job.extra_slope_costs)  %>
			</td>
		</tr>
	<% end %>
	<% if @estimate.off_level_to_show != "" && @estimate.off_level_to_show != nil && job.job_calc_type != "adhoc" %>
		<tr>
			<td colspan=1>
				<strong>Estimated Off-Level Price</strong><br />
				<span style="font-size:0.8em;">
					The off-level amount of the pad area will be accurately measured and a price given upon arrival at the job site, before any work begins.  The estimates to the right are the adjustments that may/may not be needed based on the true off-level amount of the surface. 
				</span>
			</td>
			<td colspan=2>
				<ul style="list-style-type:none; text-align:left; width:120px;">
					<% job.specific_offlevel_diff(job.foundation.type).each do |k, v| %>
						<% if k != :zero && @estimate.off_level_to_show.include?(v[1].to_s) %>
							<li><strong><%= v[1] %>"</strong> +<%= money_from_cents(v[0] - job.specific_offlevel_diff(job.foundation.type)[:zero][0]) %></li>
						<% end %>
					<% end %>
				<ul>
			</td>
			<td>&nbsp;</td>
		</tr>
	<% end %>
	<% if job.job_additions.count > 0 %>
		<tr>
			<td colspan=3>
				<strong>Additional Items:</strong>
			</td>
		</tr>
		<tr>
			<td colspan=4>
				<hr style="color:#aaa;" />
			</td>
		</tr>
		<% job.job_additions.each do |a| %>
			<tr>
				<td colspan=3>
					<span style="font-size:0.8em;"><%= a.addition_description %></span>
				</td>
				<td style="text-align: right;">
					<strong>+<%= money_from_cents a.addition_price_in_cents %></strong>
				</td>
			</tr>
			<% if a != job.job_additions.last %>
				<tr>
					<td colspan=4>
						<hr style="color:#aaa;" />
						<!-- <%= job.addition_prices_totaled %> -->
					</td>
				</tr>
			<% end %>
		<% end %>
	<% end %>
	<% if job.description && job.description != "" && job.job_calc_type != "adhoc" %>
		<tr>
			<td colspan=4>
				<strong>Additional Notes:</strong>
				<span style="font-size:0.8em;"><%= job.description %></span>
			</td>
		</tr>
	<% end %>
