<div id="estimate" style="width:750px; height:970px; margin:0px auto;">
	<% if notice %>
	<p id="notice" class="message align-center black-gradient"><%= notice %></p>
	<% end %>
	<h2>&nbsp;</h2>
	<p>
		<%= @estimate.job.contact.first_name %>,<br />
		Here is your custom estimate.  Please feel free to print it off or reference this URL later.<br />
		If you have any questions or concerns, please feel free to call me at anytime.
	</p>
	<hr />
	<%= render :partial => "estimates/print_modal" %>
	<hr />

	<div class="noprint">
		<%= payment_display( @estimate ) do %>
			<h2>Payments</h2>
		<% end %>
	<% if @payment_buttons %>
	
	<script type="text/javascript" src="https://www.wepay.com/js/iframe.wepay.js">
	</script>
<% if @estimate.show_payment_buttons %>
		<div id="payment_buttons" style="margin: 30px; text-align: center;" class="button-height">
		<a href="#checkoutdiv" id="payinfull" class="button green-gradient icon-price-tag big glossy">
			<%  @total_paid = 0 if @total_paid.nil? %>
			Pay this in full <%= money_from_cents((@price * 100).ceil - (@total_paid *100).ceil)  %>
		</a><br />
		<% if user_signed_in? %>
			<a href="#checkoutdiv" id="pay_other" class="button green-gradient icon-price-tag big glossy">
				<%  @total_paid = 0 if @total_paid.nil? %>
				Other Payment Options <%= money_from_cents((@price * 100).ceil - (@total_paid *100).ceil)  %>
			</a>
		<% end %>
		<% if @estimate.show_recurring_payment %>
		or
		<a href="#checkoutdiv" id="payinthirds" class="button green-gradient icon-price-tag big">
			Pay in 2 monthly payments of $<%= @recurring_price %>
		</a>
		<% end %>
		</div>
<% end %>

		<div id="checkout_div_id" style="margin: 50px; height:305px;"></div>
		<div id="payment_div_id"  class="payment_form" style="margin: 50px;display:none;position:relative;top:-400px;">
			<%= render partial: "other_payment_types", 
				locals: { total_to_pay: money_from_cents( (@price * 100).ceil - (@total_paid *100).ceil, unit: "" ) } %>
		</div>

		<a name"checkoutdiv">&nbsp;</a>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#payinfull").click(function() {
					WePay.iframe_checkout("checkout_div_id", "<%= @checkoutfull.checkout_uri %>");
					$("#payment_buttons").fadeOut();
				})
				$( "#pay_other" ).click( function() {
					$( "#payment_div_id" ).show().fadeIn();
					$( "#payment_buttons" ).fadeOut();
				});
				<% if @estimate.show_recurring_payment %>
				$("#payinthirds").click(function() {
					WePay.iframe_checkout("checkout_div_id", "<%= @checkoutthirds.checkout_uri %>");
					$("#payment_buttons").fadeOut();
				})
				<% end %>

				$( "#payment_type" ).change( function() {
					if ( $( this ).val() == "SquarePayment" ) {
						$( "#square_fields" ).show().fadeIn();
						$( "#check_fields" ).hide().fadeOut();
					} else {
						$( "#square_fields" ).hide().fadeOut();
						$( "#check_fields" ).show().fadeIn();
					}

				});
			})
		</script>
	<% end %>
	</div>
</div>

