<p>
  <b>Key:</b>
  <%=h @rock_pad_variable.key %>
</p>

<p>
	<b>Description:</b>
	<%=h @rock_pad_variable.description %>
</p>

<p>
  <b>Value:</b>
  <%=h @rock_pad_variable.value %>
</p>


<%= link_to 'Edit', edit_rock_pad_variable_path(@rock_pad_variable) %> |
<%= link_to 'Back', rock_pad_variables_path %>