<% if @job.contact.jobs.length > 1 %>
<h2>Bundle Estimates Together</h2>
<div>
	<% if !@job.bundle_with_job_id.nil? %>
		<p>This Estimate has been bundled with:<br />
			<strong><%= Job.find(@job.bundle_with_job_id).referencing %></strong>
		</p>
	<% else %>
		<% if @job.has_bundles? %>
		<p>This Estimate has the following estimates bundled with it:<br />
			<% for bundle in Job.find(:all, :conditions => ["bundle_with_job_id = ?",@job.id]) %>
			<strong><%= bundle.referencing %></strong> <%= money_from_cents(bundle.price_in_cents) %><br />
			<% end %>
		</p>
		<% end %>
	<% end %>
	
	<% unless @job.has_bundles? %>
		<%= form_for @job do |f| %>
		<p>Bundle this Estimate into the following:<br />
			<%= f.select :bundle_with_job_id, 
				Job.find(:all, :conditions => ["contact_id = ? AND id <> ?", @job.contact_id, @job.id]).collect{ |j| [j.referencing, j.id] }, 
				:include_blank => "do not bundle"
			%>
			<%= f.submit "Bundle this", class:"button orange-gradient glossy tiny" %>
		</p>
		<% end %>
	<% end %>
</div>
<% end %>


<% if !@job.estimates.select{|e| e.sold? }.empty? %>
	<div class="job-sold">
		This job has been marked as sold!<br />
		<%= link_to "Click here to view the contract on the schedule", "/schedule" %>
		<br />
		<%= link_to "Print the original estimate", "#{print_modal_job_url(@job)}/?type=#{@job.job_type.kind.downcase}", :class => "iframe" %>
	</div>
<% end %>