<h3>Pricing Breakdown for Rock Pad</h3>	
<table>
	<thead>
	<tr>
		<th>Item</th>
		<th>Quantity</th>
		<th>Cost</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><b>Pad Size</b></td>
		<td><%= @job.width rescue "" %> x <%= @job.length rescue "" %></td>
		<td></td>
	</tr>
	<tr>
		<td>Square Footage</td>
		<td><%= @job.pad_job.square_footage %></td>
		<td></td>
	</tr>
	<tr>
		<td>Cubic Footage</td>
		<td><%= number_with_precision @job.pad_job.cubic_footage %></td>
		<td></td>
	</tr>
	<tr>
		<td>Perimeter</td>
		<td><%= @job.pad_job.perimeter %> ft</td>
		<td></td>
	</tr>
	<tr>
		<td>Off-level amount</td>
		<td><%= @job.off_level_amount_in_inches %> inches
			<br /><%= number_with_precision @job.pad_job.my_depth %> feet
		</td>
		<td><%= money_from_cents @job.pad_job.extra_slope_costs %></td>
	</tr>
	<tr>
		<td>Fill type:</td>
		<td><%= @job.off_level_fill_type %></td>
		<td>
			
		</td>
	</tr>
	<tr>
		<td>Rows of Boards (on slope)</td>
		<td><%= (number_with_precision @job.pad_job.board_rows) %> rows</td>
		<td></td>
	</tr>

	<tr>
		<td>Boards</td>
		<td><%= number_with_precision @job.pad_job.board_quantity_in_feet %> ft</td>
		<td><%= money_from_cents @job.pad_job.board_cost %></td>
	</tr>
	<tr>
		<td>Erosion Control</td>
		<td><%= @job.erosion_control_lft %> lft</td>
		<td><%= money_from_cents @job.pad_job.erosion_control_cost %></td>
	</tr>
	<tr>
		<td>Wire Mesh</td>
		<td><%= @job.wire_mesh_linear_feet %> lft</td>
		<td><%= money_from_cents @job.pad_job.wire_mesh_cost %></td>
	</tr>

	<% if @job.job_type.kind == "Elite" %>
	<tr>
		<td>Trex Additional</td>
		<td><%= @job.pad_job.perimeter %> ft</td>
		<td><%= money_from_cents @job.pad_job.trex_additional_cost %></td>
	</tr>
	<% end %>
	<tr>
		<td>Weed Fabric</td>
		<td><%= '%.2f' % @job.pad_job.weed_fabric_per_foot.to_s %> per ft</td>
		<td><%= money_from_cents @job.pad_job.weed_fabric_cost %></td>
	</tr>
	<tr>
		<td>Rebar</td>
		<td><%= @job.pad_job.rebar_quantity %></td>
		<td><%= money_from_cents @job.pad_job.rebar_cost %></td>
	</tr>
	<tr class="endsection">
		<td>Rock (<%= RockPadVariable.find_by_key("rockpad_square_footage_per_ton").value %> sqft/ton @ 6")</td>
		<td><%= number_with_precision(@job.pad_job.rock_tonage, :precision => 2, :strip_insignification_zeros => true) %> tons</td>
		<td><%= money_from_cents @job.pad_job.rock_cost %></td>
	</tr>

	<tr>
		<td>Truck Gas Cost</td>
		<td><%= @job.pad_job.round_trip_distance %> miles</td>
		<td><%= money_from_cents @job.pad_job.truck_gas_cost %></td>
	</tr>
	<tr>
		<td>Truck Maintenance Cost</td>
		<td><%= @job.pad_job.round_trip_distance %> miles</td>
		<td><%= money_from_cents @job.pad_job.truck_maintenance_cost %></td>
	</tr>
	<tr class="endsection">
		<td>Driving Labor</td>
		<td><%= @job.pad_job.round_trip_distance %> miles</td>
		<td><%= money_from_cents @job.pad_job.driving_labor_cost %></td>
	</tr>

		<tr>
			<td>Working Labor</td>
			<td><%= @job.pad_job.working_labor_hours %> hours</td>
			<td><%= money_from_cents @job.pad_job.working_labor_cost %></td>
		</tr>
		<tr>
			<td>Additional Buildup Labor</td>
			<td></td>
			<td><%= money_from_cents (@job.additional_buildup_labor*100) %></td>
		</tr>
		<tr>
			<td>Materials</td>
			<td></td>
			<td><%= money_from_cents @job.pad_job.total_material_cost %></td>
		</tr>
		<tr class="endsection">
			<td>Total Cost</td>
			<td></td>
			<td><%= money_from_cents @job.pad_job.total_cost %></td>
		</tr>
	
		<tr>
			<td>Material Markup</td>
			<td></td>
			<td><%= money_from_cents @job.pad_job.total_material_markup %></td>
		</tr>
		<tr class="endsection">
			<td>Labor Markup</td>
			<td></td>
			<td><%= money_from_cents @job.pad_job.total_labor_markup %></td>
		</tr>
	
		<tr>
			<td><b>Base Price</b></td>
			<td></td>
			<td><%= money_from_cents @job.pad_job.total_price %></td>
		</tr>
	
		<tr>
			<td><b>Additional Price Added</b></td>
			<td></td>
			<td><%= money_from_cents(@job.additional_price.to_f * 100) %></td>
		</tr>
		<tr>
			<td><b>Job Additions Price</b></td>
			<td></td>
			<td><%= money_from_cents (@job.job_additions.collect{|a| a.addition_price_in_cents }.inject(0) {|result, element| result + element }).to_f %></td>
		</tr>
		<tr>
			<td><b>DISCOUNT</b></td>
			<td></td>
			<td><%= money_from_cents(@job.discount * 100) %></td>
		</tr>
		<tr>
			<td><b>FINAL PRICE</b></td>
			<td></td>
			<td><%= money_from_cents(@job.price_in_cents) %></td>
		</tr>

	</tbody>
</table>

	
	<h3>Job Additions:</h3>
	<% @job.job_additions.each do |j| %>
		Price: <%= money_from_cents j.addition_price_in_cents %><br />
		Desc: <%= j.addition_description %><br />
		----------------------------------------<br />
	<% end %>