<div style="float: left; margin-right: 20px; width: 400px;">
<%= form_for @job do |f| %>
	<% if @job.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@job.errors.count, "error") %> prohibited this post from being saved:</h2>
			<ul>
				<% @job.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

<%= link_to "Go Back to Customer Info", "/contacts/#{@job.contact_id}", class: "button white-gradient icon-left" %>
<%= link_to "Open Google Map", "/maps/google?q=#{CGI::escape(@job.address_oneline)}", class: "button orange-gradient icon-arrow", target: "_blank" %>
<br />
<br />


<%= f.label :description %><br />
<%= f.text_area :description, :class => "text", :style => "width: 384px" %>

<table>

	<thead></thead>
	<tbody>
		<tr>
			<td><%= f.label :indicator, "Current Job Success Indicator" %></td>
			<td><%= f.select :indicator, [["No Indicator", ""],["Highly Probable - Green", "green"],["Maybe will sell - Yellow", "yellow"],["Not likely - Red", "red"]] %></td>
		</tr>
		<tr>
			<td><%= f.label :material_markup %></td>
			<td><%= f.text_field :material_markup, :class => "integer" %></td>
		</tr>
		<tr>
			<td><%= f.label :foundation_id %></td>
			<td><%= f.select :foundation_id, Foundation.order("kind ASC").collect{|fo| [fo.kind, fo.id]} %></td>
		</tr>
		<tr>
			<td><%= f.label :foundation_calculator_id, "Use this Calculator" %></td>
			<td><%= f.select :foundation_calculator_id, FoundationCalculator.all.collect{ |f| [f.kind.titleize, f.id] } %></td>
		</tr>
		<tr class="rock_pad concrete floating graduated gibraltar piers">
			<td><%= f.label :width %></td>
			<td>
				<%= f.text_field :width, :class => "integer" %><br />
				<p style="color:#FF0000; display:none;" id="your-wrong-width">Please enter a valid WIDTH.</p>
			</td>
		</tr>
		<tr class="rock_pad concrete floating graduated gibraltar piers">
			<td><%= f.label :length %></td>
			<td>
				<%= f.text_field :length, :class => "integer" %>
				<p style="color:#FF0000; display:none;" id="your-wrong-length">Please enter a valid LENGTH.</p>
			</td>
		</tr>
		<tr class="rock_pad concrete floating graduated gibraltar piers">
			<td><%= f.label :area, "Area SQFT" %></td>
			<td>
				<%= f.text_field :area, :class => "integer" %>
				<p style="color:#FF0000; display:none;" id="your-wrong-area">Please enter a valid AREA.</p>
			</td>
		</tr>

		<tr class="rock_pad">
			<td><%= f.label :border_sixbysix, "Use 6x6 timbers?" %></td>
			<td><%= f.check_box :border_sixbysix %>  (check for yes)</td>
		</tr>
		<!-- <tr class="rock_pad">
			<td><%= f.label :erosion_control_lft, "Lft of Erosion Control Wire" %></td>
			<td><%= f.text_field :erosion_control_lft %></td>
		</tr> -->
		<tr class="rock_pad">
			<td><%= f.label :wire_mesh_linear_feet, "Lft of Wire Mesh" %></td>
			<td><%= f.text_field :wire_mesh_linear_feet %></td>
		</tr>
		<tr class="rock_pad concrete floating graduated gibraltar piers">
			<td><%= f.label :door_placement %></td>
			<td><%= f.text_field :door_placement, :class => "string" %></td>
		</tr>
		<tr class="rock_pad concrete floating graduated gibraltar piers">
			<td><%= f.label :off_level_amount_in_inches %></td>  
			<td><%= f.text_field :off_level_amount_in_inches, :class => "integer" %></td>
		</tr>
		<tr class="concrete floating graduated gibraltar piers">
			<td><%= f.label :concrete_price_per_yard, "Concrete price (per cubic yard)" %></td>  
			<td><%= f.text_field :concrete_price_per_yard, {class: "select2-concrete-prices"} %></td>
		</tr>
		<tr class="concrete piers">
			<td><%= f.label :concrete_piers_diameter_in_inches %></td>  
			<td><%= f.text_field :concrete_piers_diameter_in_inches, :class => "integer" %></td>
		</tr>
		<tr class="concrete piers">
			<td><%= f.label :concrete_piers_depth_in_inches %></td>  
			<td><%= f.text_field :concrete_piers_depth_in_inches, :class => "integer" %></td>
		</tr>
		<tr class="concrete piers">
			<td><%= f.label :number_of_piers, "Number of Concrete Pillars" %></td>
			<td><%= f.text_field :number_of_piers, :class => "integer" %></td>
		</tr>
		<tr class="concrete gibraltar">
			<td><%= f.label :gibraltar_courses_of_block, "Courses of Blocks" %></td>  
			<td><%= f.text_field :gibraltar_courses_of_block, {class: "select2-courses-blocks"} %></td>
		</tr>
		
		<tr class="concrete floating graduated gibraltar">
			<td><%= f.label :concrete_thickness_in_inches, "Concrete Slab Thickness (in inches)" %></td>  
			<td><%= f.text_field :concrete_thickness_in_inches, class: "select2-slab-thick" %></td>
		</tr>
		<tr class="concrete gibraltar">
			<td><%= f.label :gibraltar_concrete_footer_in_inches, "Gibraltar Footer Thickness (in inches)" %></td>  
			<td><%= f.text_field :gibraltar_concrete_footer_in_inches, class: "select2-gib-footer-thick" %></td>
		</tr>
		<tr class="concrete graduated">
			<td><%= f.label :concrete_edge_thickness_in_inches, "Graduated Edge Thickness (in inches)" %></td>  
			<td><%= f.text_field :concrete_edge_thickness_in_inches, class: "select2-edge-thick" %></td>
		</tr>
		<tr class="concrete floating graduated gibraltar piers">
			<td><%= f.label :gravel_base_depth_in_inches, "Gravel Base Thickness (in inches)" %></td>  
			<td><%= f.text_field :gravel_base_depth_in_inches, class: "select2-gravel-base-thick" %></td>
		</tr>
		<tr class="concrete floating graduated gibraltar">
			<td><%= f.label :vapor_barrier %></td>  
			<td><%= f.select :vapor_barrier, [['Yes', "true"], ['no', "false"]] %></td>
		</tr>

		<% if false %>
		<tr class="concrete adhoc floating graduated gibraltar piers">
			<td><%= f.label :days_on_job, "# of days crew will be on the job?" %></td>
			<td><%= f.text_field :days_on_job, :class => "integer" %></td>
		</tr>
		<tr class="concrete adhoc floating graduated gibraltar piers">
			<td><%= f.label :extra_man_days, "Extra man days? (1 = 1 day per person)?" %></td>
			<td><%= f.text_field :extra_man_days, :class => "integer" %></td>
		</tr>
		<% else %>
		<tr class="concrete adhoc floating graduated gibraltar piers">
			<td colspan="2">
				<p style="text-align:center">
				<a href="javascript:void(0);" class="acthourslink button green-gradient tiny">Show Actual hours</a>
				<a href="javascript:void(0);" class="acthourslink button red-gradient tiny">Hide Actual hours</a>
				<a href="javascript:void(0);" class="desclink button green-gradient tiny">Show Descriptions</a>
				<a href="javascript:void(0);" class="desclink button red-gradient tiny">Hide Descriptions</a>
				</p>
				<table width="100%" border="0" cellpadding="4">
					<tr>
						<td>Laborers Needed</td>
						<th># people</th>
						<th># hours</th>
						<th># trucks</th>
					</tr>
					
					<% for day in 1..10 %>
					<tr style="text-align: center;">
						<td>Day #<%= day %></td>
						<td><%= f.text_field "day_#{day}_men".to_sym, :class => "integer", :style => "width:40px; text-align:center;" %></td>
						<td><%= f.text_field "day_#{day}_hours".to_sym, :class => "integer", :style => "width:40px; text-align:center;" %></td>
						<td><%= f.text_field "day_#{day}_trucks".to_sym, :class => "integer", :style => "width:40px; text-align:center;" %></td>
					</tr><tr style="text-align: center;" class="daydesc">
						<td>Description: </td>
						<td colspan="3"><%= f.text_area "day_#{day}_desc".to_sym, :class => "integer", :style => "width:96%; text-align:left;height: 2.5em;" %></td>
					</tr><tr style="text-align: center;" class="actualhours">
						<td colspan="2">Actual Hours Worked: </td>
						<td><%= f.text_field "day_#{day}_actual_hours".to_sym, :class => "integer", :style => "width:40px; text-align:center;" %></td>
						<td>&nbsp;</td>
					</tr>
					<% end %>
				</table>
			</td>
		</tr>
		<% end %>
		
		
		<tr class="concrete adhoc floating graduated gibraltar piers">
			<td><%= f.label :accessible_with_machine %></td>
			<td><%= f.text_field :accessible_with_machine, :class => "string" %></td>
		</tr>
		<tr class="concrete adhoc floating graduated gibraltar piers">
			<td><%= f.label :additional_fill_dirt %></td>
			<td><%= f.text_field :additional_fill_dirt, :class => "string" %></td>
		</tr>
		<!-- <tr class="rock_pad">
			<td><%= f.label :build_up_timbers %></td>
			<td><%= f.text_field :build_up_timbers, :class => "string" %></td>
		</tr>
		<tr class="rock_pad">
			<td><%= f.label :timber_wall %></td>
			<td><%= f.text_field :timber_wall, :class => "string" %></td>
		</tr> -->
		<tr class="rock_pad">
			<td><%= f.label :job_type_id, "Job Type" %></td>
		  <td><%= f.select :job_type_id, JobType.all.collect{|j| [j.kind, j.id] } %></td>
		</tr>
		<tr class="rock_pad">
			<td><%= f.label :trex_color %></td>
			<td><%= f.select :trex_color, [["Grey", "Grey"], ["Brown", "Brown"], ["Red", "Red"]] %></td>
		</tr>
		<tr class="rock_pad">
			<td class="off_level_fill_type"><%= f.label :off_level_fill_type %></td>
			<td class="off_level_fill_type"><%= f.select :off_level_fill_type, [["Excavate","Excavate"], ["Build-Up","Build-Up"], ["Wall", "Wall"]], :include_blank => true, :default => @job.off_level_fill_type %></td>
		</tr>
		<tr>
			<td><%= f.label :additional_buildup_labor %></td>
			<td><%= f.text_field :additional_buildup_labor, :class => "integer" %></td>
		</tr>
		<tr>
			<td><%= f.label :additional_price %></td>
			<td><%= f.text_field :additional_price, :class => "integer" %></td>
		</tr>
		<tr>
			<td><%= f.label :discount %></td>
			<td><%= f.text_field :discount, :class => "string" %></td>
		</tr>
		
	</tbody>
</table>

<%= f.hidden_field(:contact_id, :value => (params[:for] || @contact.id)) rescue "" %>
<hr />
	<h3>Job site address</h3>
	<p>Leave this empty if the customer address is the same</p>
	<table>
		<tbody>
			<% unless params[:action] == "new" %>
				<% unless @allow_manual_edit.nil? %>
					<tr>
						<td>
							<%= f.label :distance %><br />
							<%= f.text_field :distance, class: "string" %>
						</td>
					</tr>		
				<% end %>			
			<% end %>
			
			<tr>
				<td>
					<%= f.label :address_1 %><br />
					<%= f.text_field :address_1, :class => "string" %></td>
				<td colspan=2>
					<%= f.label :address_2 %><br />
					<%= f.text_field :address_2, :class => "string" %>
				</td>
				
			</tr>
			<tr>
				<td>
					<%= f.label :city %><br />
					<%= f.text_field :city, :class => "string" %>
				</td>
				<td>
					<%= f.label :province, "State" %><br />
					<%= f.text_field :province, :class => "string" %>
				</td>
				<td>
					<%= f.label :zip %><br />
					<%= f.text_field :zip, :class => "integer" %>
				</td>
			</tr>
			<tr>
				<td colspan=3>
					<%= f.label :location_id, "Office Location to display on Invoice:" %>
					<%= f.select :location_id, Location.find(:all, :order => "abbreviation ASC").map{|l| [l.name, l.id] } %>
				</td>
			</tr>
			<tr>
				<td colspan=3>
					<b><%= f.label :calculation_location_id, "Location to base the Distance Estimate Calculations:" %></b>
					<%= f.select :calculation_location_id, Location.find(:all, :order => "abbreviation ASC", :conditions => "use_for_estimates = 'yes'").map{|l| [l.name, l.id]}, {:selected => (@job.calculation_location_id || 5)}  %>
				</td>
			</tr>
			
		</tbody>
	</table>
	
	<!-- <hr /> -->
		<!-- <h3>Job Crew and Rig</h3> -->
		<!-- <table>
			<tbody>
				<tr>
					<td><%#= f.label :crew_name %></td>
					<td><%#= f.text_field :crew_name, :class => "string" %></td>
				</tr>
				<tr>
					<td><%#= f.label :rig_name, "Rig #" %></td>
					<td><%#= f.text_field :rig_name, :class => "string" %></td>
				</tr>
			</tbody>
		</table> -->
<p>
	<% unless @allow_manual_edit.nil? %>
		<%= hidden_field_tag :manual_edit, true %>
	<% end %>
	<%= f.submit "Save & Calculate this Estimate", class:"button green-gradient glossy" %>
</p>
<% end %>
</div>

<div style="float:left; padding:10px; 12px; margin-top: 300px;">
	<h3>Additions to Job</h3>
	<% if @job.id.nil? %>
		You must create an estimate before you can add additional items.  Then edit the estimate to add 
		items here.
	<% else %>
		
		<% @job.job_additions.each do |job_add| %>
			<%= render :partial => "job_addition", :locals => {:job_add => job_add} %>
			<hr />
		<% end %>
		<p>
			<em style="margin: 7px 0; display: block;">Add another Additional Item or Material</em>
		<%= link_to "an additional item", "/job_additions/new?job_id=#{@job.id}", class: "button small icon-plus green-gradient glossy" %>
		<%= link_to "a material", "/material_uses/new?job_id=#{@job.id}", class: "button small icon-plus green-gradient glossy" %>

		</p>
	<!-- <h3>Files Attached to this Job</h3> -->
	<%# if @job.library_files %>
		<%#= render partial: 'library_file', collection: @job.library_files %>
	<%# end %><br />
	<%#= link_to "Add Files", "/attach_files?job_id=#{@job.id}", class: "fbox fancybox.iframe"  %>
	<% end %>
</div>
<div style="clear:both;"></div>

		<script type="text/javascript">
			function isNumeric(n) {
			  return !isNaN(parseFloat(n)) && isFinite(n);
			}
			
			function validateFields(ele) {
				var val = $(ele).val();
				if (isNumeric(val)) {
					return true
				} else {
					return false
				}
			}

	function hideAndShowAppropriate() {
		var chosen = $("#job_foundation_calculator_id").val();
		if (chosen == "2") {
			$(".concrete").hide();
			$(".rock_pad").hide();
			$(".adhoc").show();
		} else if (chosen == "1") {
			$(".adhoc").hide();			
			$(".concrete").hide();			
			$(".rock_pad").show();
		} else {
			$(".adhoc").hide();
			$(".rock_pad").hide();
			$(".concrete").hide();
			var conc = $("#job_foundation_calculator_id option:selected").text();
			// alert(conc)
			// alert(conc.indexOf("Gibraltar"))
			if (conc.indexOf("Gibraltar") > -1) {
				$(".concrete.gibraltar").show();
			} else if (conc.indexOf("Piers") > -1) {
				$(".concrete.piers").show();
			} else if (conc.indexOf("Floating") > -1) {
				$(".concrete.floating").show();
			} else if (conc.indexOf("Graduated") > -1) {
				$(".concrete.graduated").show();
			}
			
		}
	}

			
			
			$(document).ready(function() {

		hideAndShowAppropriate();
		$("#job_job_type_id").change(function() {
			if ($(this).val() == "1") {
				$(".off_level_fill_type").slideUp()
			} else {
				if ($(".off_level_fill_type").is(':visible') == false) {
					$(".off_level_fill_type").slideDown()
				}
			}
		})
		
		$("#job_foundation_calculator_id").change(hideAndShowAppropriate);


							$(".actualhours").hide();
							$('.acthourslink.red-gradient').hide();
							$('.acthourslink').click(function(){
								$(".actualhours").toggle("slow");
								$('.acthourslink.green-gradient').toggle();
								$('.acthourslink.red-gradient').toggle();
							});
							$('.desclink.green-gradient').hide();
							$('.desclink').click(function(){
								$(".daydesc").toggle("slow");
								$('.desclink.green-gradient').toggle();
								$('.desclink.red-gradient').toggle();
							})


				$('.select2-concrete-prices').select2({
						width: "150px", 
						data:[<%= (80..200).step(5).map{|r|"{id:'#{r}',text:'$#{r}'}"}.join(",") %>], 
						createSearchChoice: function(term) { return {id:term, text:"$"+term } }
				});
				$('.select2-courses-blocks').select2({
						width: "150px", 
						data:[<%= (0..20).map{|r|"{id:'#{r}',text:'#{r}'}"}.join(",") %>], 
						createSearchChoice: function(term) { return {id:term, text:term} }
				});
				$('.select2-slab-thick').select2({
						width: "150px", 
						data:[<%= (0..20).step(2).map{|r|"{id:'#{r}',text:'#{r}'}"}.join(",") %>], 
						createSearchChoice: function(term) { return {id:term, text:term} }
				});
				$('.select2-materials').select2({
						width: "150px",
						data:[<%= Material.order("name ASC").map{|m| "{id:'#{m.id}',text:'#{j m.list_label}'}"}.join(",") %>],
						createSearchChoice: function(term) { return {id:term, text:term} }
				})
				$('.select2-gib-footer-thick').select2({
						width: "150px", 
						data:[<%= (6..20).step(2).map{|r|"{id:'#{r}',text:'#{r}'}"}.join(",") %>], 
						createSearchChoice: function(term) { return {id:term, text:term} }
				});
				$('.select2-gravel-base-thick').select2({
						width: "150px", 
						data:[<%= (0..20).map{|r|"{id:'#{r}',text:'#{r}'}"}.join(",") %>], 
						createSearchChoice: function(term) { return {id:term, text:term} }
				});
				$('.select2-edge-thick').select2({
						width: "150px", 
						data:[<%= (12..30).step(6).map{|r|"{id:'#{r}',text:'#{r}'}"}.join(",") %>], 
						createSearchChoice: function(term) { return {id:term, text:term} }
				});

				$("#job_width").keyup(function() {
					if (validateFields($("#job_width"))) {
						$("#your-wrong-width").fadeOut();
						if (validateFields($("#job_length"))) {
							$("#job_area").val($("#job_length").val() * $("#job_width").val())
						}
					} else {
						$("#your-wrong-width").fadeIn();
					}
				})
				$("#job_length").keyup(function() {
					if (validateFields($("#job_length"))) {
						$("#your-wrong-length").fadeOut();
						if (validateFields($("#job_width"))) {
							$("#job_area").val($("#job_length").val() * $("#job_width").val())
						}
					} else {
						$("#your-wrong-length").fadeIn();
					}
				})
				$("#job_area").keyup(function() {
					if (validateFields($("#job_area"))) {
						$("#your-wrong-area").fadeOut();
					} else {
						$("#your-wrong-area").fadeIn();
					}
				})

				$(".fbox").fancybox({
					'openEffect'	:	'elastic',
					'closeEffect'	:	'elastic',
					'openSpeed'		:	600, 
					'closespeed'		:	200, 
					'overlayShow'	:	false,
					'width': 800,
					'height': 700,
					'closeBtn': true
				});			
			})
		</script>
