<%= form_for @job do |f| %>
	<% if @job.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@job.errors.count, "error") %> prohibited this post from being saved:</h2>
			<ul>
				<% @job.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

<%= link_to "Go Back to Contact", "/contacts/#{@job.contact_id}" %><br />
<br />
<%= f.label :description %><br />
<%= f.text_area :description, :class => "text" %>

<table style="float:left;">
	<thead></thead>
	<tbody>
		<tr>
			<td><%= f.label :foundation_id %></td>
			<td><%= f.select :foundation_id, Foundation.all.collect{|fo| [fo.kind, fo.id]} %></td>
		</tr>
		<tr>
			<td><%= f.label :foundation_calculator_id, "Use this Calculator" %></td>
			<td><%= f.select :foundation_calculator_id, FoundationCalculator.all.collect{ |f| [f.kind.titleize, f.id] } %></td>
		</tr>
		<tr class="rock_pad concrete floating graduated gibraltar piers">
			<td><%= f.label :width %></td>
			<td><%= f.text_field :width, :class => "integer" %></td>
		</tr>
		<tr class="rock_pad concrete floating graduated gibraltar piers">
			<td><%= f.label :length %></td>
			<td><%= f.text_field :length, :class => "integer" %></td>
		</tr>
		<tr class="rock_pad">
			<td><%= f.label :border_sixbysix, "Use 6x6 timbers?" %></td>
			<td><%= f.check_box :border_sixbysix %>  (check for yes)</td>
		</tr>
		<tr class="rock_pad">
			<td><%= f.label :erosion_control_lft, "Lft of Erosion Control Wire" %></td>
			<td><%= f.text_field :erosion_control_lft %></td>
		</tr>
		<tr class="rock_pad concrete floating graduated gibraltar piers">
			<td><%= f.label :door_placement %></td>
			<td><%= f.text_field :door_placement, :class => "string" %></td>
		</tr>
		<tr class="rock_pad concrete floating graduated gibraltar piers">
			<td><%= f.label :off_level_amount_in_inches %></td>  
			<td><%= f.text_field :off_level_amount_in_inches, :class => "integer" %></td>
		</tr>
		<tr class="concrete floating graduated gibraltar piers">
			<td><%= f.label :concrete_price_per_yard, "Concrete price (per cubic yard)" %></td>  
			<td><%= f.select :concrete_price_per_yard, [['$80', "80"], ['$100', '100'], ['$120', '120'], ['$140', '140'], ['$160', '160'], ['$180', '180'], ['$200', '200']] %></td>
		</tr>
		<tr class="concrete piers">
			<td><%= f.label :concrete_piers_diameter_in_inches %></td>  
			<td><%= f.text_field :concrete_piers_diameter_in_inches, :class => "integer" %></td>
		</tr>
		<tr class="concrete piers">
			<td><%= f.label :concrete_piers_depth_in_inches %></td>  
			<td><%= f.text_field :concrete_piers_depth_in_inches, :class => "integer" %></td>
		</tr>
		<tr class="concrete piers">
			<td><%= f.label :number_of_piers, "Number of Concrete Pillars" %></td>
			<td><%= f.text_field :number_of_piers, :class => "integer" %></td>
		</tr>
		
		<tr class="concrete floating graduated gibraltar">
			<td><%= f.label :concrete_thickness_in_inches, "Concrete Slab Thickness (in inches)" %></td>  
			<td><%= f.select :concrete_thickness_in_inches, [['4"', "4"], ['6"', '6']] %></td>
		</tr>
		<tr class="concrete gibraltar">
			<td><%= f.label :gibraltar_concrete_footer_in_inches, "Gibraltar Footer Thickness (in inches)" %></td>  
			<td><%= f.select :gibraltar_concrete_footer_in_inches, [['8"', "8"], ['12"', '12']] %></td>
		</tr>
		<tr class="concrete graduated">
			<td><%= f.label :concrete_edge_thickness_in_inches, "Graduated Edge Thickness (in inches)" %></td>  
			<td><%= f.select :concrete_edge_thickness_in_inches, [['12"', "12"], ['18"', "18"], ['24"', "24"], ['30"', "30"]] %></td>
		</tr>
		<tr class="concrete floating graduated gibraltar">
			<td><%= f.label :gravel_base_depth_in_inches, "Gravel Base Thickness (in inches)" %></td>  
			<td><%= f.select :gravel_base_depth_in_inches, [['4"', "4"], ['6"', '6']] %></td>
		</tr>
		<tr class="concrete floating graduated gibraltar">
			<td><%= f.label :vapor_barrier %></td>  
			<td><%= f.select :vapor_barrier, [['Yes', "true"], ['no', "false"]] %></td>
		</tr>

		<tr class="concrete adhoc floating graduated gibraltar piers">
			<td><%= f.label :days_on_job %></td>
			<td><%= f.text_field :days_on_job, :class => "integer" %></td>
		</tr>
		<tr class="concrete adhoc floating graduated gibraltar piers">
			<td><%= f.label :extra_man_days, "How many extra man days (besides base crew)?" %></td>
			<td><%= f.text_field :extra_man_days, :class => "integer" %></td>
		</tr>
		
		
		<tr>
			<td><%= f.label :accessible_with_machine %></td>
			<td><%= f.text_field :accessible_with_machine, :class => "string" %></td>
		</tr>
		<tr>
			<td><%= f.label :additional_fill_dirt %></td>
			<td><%= f.text_field :additional_fill_dirt, :class => "string" %></td>
		</tr>
		<tr class="rock_pad">
			<td><%= f.label :build_up_timbers %></td>
			<td><%= f.text_field :build_up_timbers, :class => "string" %></td>
		</tr>
		<tr class="rock_pad">
			<td><%= f.label :timber_wall %></td>
			<td><%= f.text_field :timber_wall, :class => "string" %></td>
		</tr>
		<tr class="rock_pad">
			<td><%= f.label :job_type_id, "Job Type" %></td>
		  <td><%= f.select :job_type_id, JobType.all.collect{|j| [j.kind, j.id] } %></td>
		</tr>
		<tr class="rock_pad">
			<td><%= f.label :trex_color %></td>
			<td><%= f.select :trex_color, [["Grey", "Grey"], ["Brown", "Brown"], ["Red", "Red"]] %></td>
		</tr>
		<tr class="rock_pad">
			<td class="off_level_fill_type"><%= f.label :off_level_fill_type %></td>
			<td class="off_level_fill_type"><%= f.select :off_level_fill_type, [["Excavate","Excavate"], ["Build-Up","Build-Up"]], :include_blank => true, :default => @job.off_level_fill_type %></td>
		</tr>
		<tr>
			<td><%= f.label :additional_price %></td>
			<td><%= f.text_field :additional_price, :class => "integer" %></td>
		</tr>
		<tr>
			<td><%= f.label :discount %></td>
			<td><%= f.text_field :discount, :class => "string" %></td>
		</tr>
		
	</tbody>
</table>
<div style="float:left; padding:10px; 12px;">
	<h3>Additions to Job</h3>
	<% if @job.id.nil? %>
		You must create an estimate before you can add additional items.  Then edit the estimate to add 
		items here.
	<% else %>
		
		<%= link_to "Add an additional item", "/job_additions/new?job_id=#{@job.id}" %><br /><br />
		<% @job.job_additions.each do |a| %>
			Price: <%= money_from_cents a.addition_price_in_cents %><br />
			Desc: <%= a.addition_description %><br />
			<%= link_to "Delete this item", job_addition_path(a), :method => "DELETE" %> | <%= link_to "Edit this item", edit_job_addition_path(a) %>
			<hr />
		<% end %>
	<% end %>
</div>
<div style="clear:both;"></div>
<%= f.hidden_field(:contact_id, :value => (params[:for] || @contact.id)) rescue "" %>
<hr />
	<h3>Job site address</h3>
	<p>Leave this empty if the customer address is the same</p>
	<table>
		<tbody>
			<tr>
				<td>
					<%= f.label :address_1 %><br />
					<%= f.text_field :address_1, :class => "string" %></td>
				<td colspan=2>
					<%= f.label :address_2 %><br />
					<%= f.text_field :address_2, :class => "string" %>
				</td>
				
			</tr>
			<tr>
				<td>
					<%= f.label :city %><br />
					<%= f.text_field :city, :class => "string" %>
				</td>
				<td>
					<%= f.label :province, "State" %><br />
					<%= f.text_field :province, :class => "string" %>
				</td>
				<td>
					<%= f.label :zip %><br />
					<%= f.text_field :zip, :class => "integer" %>
				</td>
			</tr>
			<tr>
				<td colspan=3>
					<%= f.label :location_id, "Office Location for Invoice:" %>
					<%= f.select :location_id, Location.find(:all, :order => "abbreviation ASC").map{|l| [l.name, l.id] } %>
				</td>
			</tr>
		</tbody>
	</table>
	
	<!-- <hr /> -->
		<!-- <h3>Job Crew and Rig</h3> -->
		<!-- <table>
			<tbody>
				<tr>
					<td><%#= f.label :crew_name %></td>
					<td><%#= f.text_field :crew_name, :class => "string" %></td>
				</tr>
				<tr>
					<td><%#= f.label :rig_name, "Rig #" %></td>
					<td><%#= f.text_field :rig_name, :class => "string" %></td>
				</tr>
			</tbody>
		</table> -->
<p>
	<%= f.submit "Save" %>
</p>
<% end %>

<script type="text/javascript">
	function hideAndShowAppropriate() {
		var chosen = $("#job_foundation_calculator_id").val();
		if (chosen == "2") {
			$(".concrete").hide();
			$(".rock_pad").hide();
			$(".adhoc").show();
		} else if (chosen == "1") {
			$(".adhoc").hide();			
			$(".concrete").hide();			
			$(".rock_pad").show();
		} else {
			$(".adhoc").hide();
			$(".rock_pad").hide();
			$(".concrete").hide();
			var conc = $("#job_foundation_calculator_id option:selected").text();
			// alert(conc)
			// alert(conc.indexOf("Gibraltar"))
			if (conc.indexOf("Gibraltar") > -1) {
				$(".concrete.gibraltar").show();
			} else if (conc.indexOf("Piers") > -1) {
				$(".concrete.piers").show();
			} else if (conc.indexOf("Floating") > -1) {
				$(".concrete.floating").show();
			} else if (conc.indexOf("Graduated") > -1) {
				$(".concrete.graduated").show();
			}
			
		}
	}

	$(document).ready(function() {
		hideAndShowAppropriate();
		$("#job_job_type_id").change(function() {
			if ($(this).val() == "1") {
				$(".off_level_fill_type").slideUp()
			} else {
				if ($(".off_level_fill_type").is(':visible') == false) {
					$(".off_level_fill_type").slideDown()
				}
			}
		})
		
		$("#job_foundation_calculator_id").change(hideAndShowAppropriate);
	})
</script>
