
<% if job_add.is_a_material_addition? %>
	<%= form_for(job_add.material_use) do |j| %>
		<div class="field">
	    <%= j.label :addition_price_in_dollars, "Price in dollars" %><br />
	    <%= j.s :addition_price_in_dollars %>
	  </div>
	  <div class="field">
	    <%= j.label :addition_description, "Description" %><br />
	    <%= j.text_field :addition_description %>
	  </div>
		<%= j.hidden_field :job_id, :value => (@job.id || job_add.job_id) %>
		<div style="margin-top: 10px">
		<%= j.submit "Save this item", class:"button green-gradient glossy" %>
		<%= link_to "Edit", edit_job_addition_path(job_add), class: "button tiny blue-gradient" %>
		<%= link_to "Delete", job_addition_path(job_add), :method => "DELETE", confirm: "Are you sure?", class: "button tiny red-gradient" %> 
		</div>
	<% end %>
<% else %>
	<%= form_for(job_add) do |j| %>
		<div class="field">
	    <%= j.label :addition_price_in_dollars, "Price in dollars" %><br />
	    <%= j.text_field :addition_price_in_dollars %>
	  </div>
	  <div class="field">
	    <%= j.label :addition_description, "Description" %><br />
	    <%= j.text_field :addition_description %>
	  </div>
		<%= j.hidden_field :job_id, :value => (@job.id || job_add.job_id) %>
		<div style="margin-top: 10px">
		<%= j.submit "Save this item", class:"button green-gradient glossy" %>
		<%= link_to "Edit", edit_job_addition_path(job_add), class: "button tiny blue-gradient" %>
		<%= link_to "Delete", job_addition_path(job_add), :method => "DELETE", confirm: "Are you sure?", class: "button tiny red-gradient" %> 
		</div>
	<% end %>
<% end %>
