<% if !@job.estimates.select{|e| e.sold? }.empty? %>
	<div class="job-sold">
		This job has been marked as sold!<br />
		<%= link_to "Click here to view the contract on the schedule", "/schedule" %>
		<br />
		<%= link_to "Print the original estimate", "#{print_modal_job_url(@job)}/?type=#{@job.job_type.kind.downcase}", :class => "iframe" %>
	</div>
<% else %>
	
	<h2>Print this Job Estimate</h2>
	<div>
		Print: <br />
		<p style="padding-left:30px;">
			<%= link_to "Economy estimate", "#{print_modal_job_url(@job)}/?type=economy", :class => "iframe" %><br />
			<%= link_to "Standard estimate", "#{print_modal_job_url(@job)}/?type=standard", :class => "iframe" %><br />
			<%= link_to "Elite estimate", "#{print_modal_job_url(@job)}/?type=elite", :class => "iframe" %>
		</p>	
	</div>
	<script type="text/javascript">
	function closeFancyboxAndRedirectToUrl(url){
	    $.fancybox.close();
	    window.location = url;
	}
	</script>
<% end %>

<br />
<h2>Type &amp; Off-Level Amounts</h2>
<p>
	The current price of <strong><%= money_from_cents @job.price_in_cents %></strong> is priced for an <strong><%= @job.job_type.kind %></strong> pad with an off-level amount of 
	
	<% if @job.off_level_amount_in_inches != nil %>
		<%= @job.off_level_amount_in_inches %>" included in the final price.
	<% else %>
		0" to 6" included in the final price.
	<% end %>
	
	<% if @job.job_type.kind == "Standard" || @job.job_type.kind == "Elite" %>
		<br />To adjust the price for economy, subtract the amount shown for the off-level depth from the final price.
	<% end %>
</p>
<% job_block = @job.pad_job_type_offset %>
<table>
	<caption>Build-Up and Wall</caption>
	<thead>
		<tr>
			<td>&nbsp;</td>
			<th>Standard or Elite</th>
		</tr>
		<tr>
			<td>&lt;6"</td>
			<td><%= money_from_cents(job_block[:buildup_standard][:zero]) rescue "" %></td>
		</tr>
		<tr>
			<td>12"</td>
			<td><%= money_from_cents(job_block[:buildup_standard][:twelve]) rescue "" %></td>
		</tr>
		<tr>
			<td>18"</td>
			<td><%= money_from_cents(job_block[:buildup_standard][:eighteen]) rescue "" %></td>
		</tr>
		<tr>
			<td>24"</td>
			<td><%= money_from_cents(job_block[:buildup_standard][:twentyfour]) rescue "" %></td>
		</tr>
		<tr>
			<td>30"</td>
			<td><%= money_from_cents(job_block[:buildup_standard][:thirty]) rescue "" %></td>
		</tr>
		<tr>
			<td>36"</td>
			<td><%= money_from_cents(job_block[:buildup_standard][:thirtysix]) rescue "" %></td>
		</tr>
	</thead>
</table>
<table>
	<caption>Excavate</caption>
	<thead>
		<tr>
			<td></td>
			<th>Any Type</th>
		</tr>
		<tr>
			<td>&lt;6"</td>
			<td><%= money_from_cents(job_block[:excavate_standard][:zero]) rescue "" %></td>
		</tr>
		<tr>
			<td>12"</td>
			<td><%= money_from_cents(job_block[:excavate_standard][:twelve]) rescue "" %></td>
		</tr>
		<tr>
			<td>18"</td>
			<td><%= money_from_cents(job_block[:excavate_standard][:eighteen]) rescue "" %></td>
		</tr>
		<tr>
			<td>24"</td>
			<td><%= money_from_cents(job_block[:excavate_standard][:twentyfour]) rescue "" %></td>
		</tr>
		<tr>
			<td>30"</td>
			<td><%= money_from_cents(job_block[:excavate_standard][:thirty]) rescue "" %></td>
		</tr>
		<tr>
			<td>36"</td>
			<td><%= money_from_cents(job_block[:excavate_standard][:thirtysix]) rescue "" %></td>
		</tr>
	</thead>
</table>