<%= link_to "Edit estimate details", edit_job_path(@job), class: "button blue-gradient glossy" %><br /><br />

<% 
partialz = @job.foundation_calc.to_slug
partialz = "rock_pad" unless @job.foundation_calc.include?("concrete") 
partialz = "adhoc" if @job.foundation_calc.include?("adhoc") 
%>


<div style="float:right; width: 40%;">
	<% if current_user.permissions_levels.to_s.include?("Admin") %>
		<%= render partial: "/jobs/bundle_with", locals: {job: @job} %>	
	<% end %>
	<%= render partial: "/jobs/print_estimate_#{partialz}", locals: {job: @job} %>	
	<br />
	<!-- Files 
	<h2>Files Attached to this job</h2>
	-->
	<%# if @job.library_files %>
		<%#= render partial: 'jobs/library_file', collection: @job.library_files %>
	<%# end %><br />
</div>

<div style="width:50%;">
	<% if current_user.permissions_levels.to_s.include?("Admin") %>
	<%= render partial: "/jobs/estimate_table_#{partialz}", locals: {job: @job} %>
	<% else %>
		<h2>Total Price: <b><%= money_from_cents @job.price_in_cents %></b></h2>
	<% end %>
</div>


<h2>Communication History</h2>

<% for update in @job.statuses.reverse %>
	<div class="status_update">
		<h3>On <%= update.created_at.strftime("%m/%d") %> <b><%= update.creator.name %></b> wrote:
		<span>Referencing: <%= link_to update.job.referencing, edit_job_path(update.job) %></span>
		</h3>
		<%= simple_format update.notes %>
		<p class="small">Assigned to: <b><%= update.assignee.name rescue "" %></b>
			<span>Next Action: <b><%= update.next_action.name rescue "None" %></b></span>	
		</p>
	</div>
<% end %>


<h2 style="margin-top:50px;">Remove this <%= @job.estimate_or_contract.downcase %> from the system</h2>
<p>This will remove all history and status from the database, please be sure you want to do this as it could have other repercussions.</p>
<%= button_to "Destroy", @job, :confirm => 'Are you sure?', :method => :delete, class: "button red-gradient glossy icon-cross-round" %>
<br /><br />
</div>

<script type="text/javascript">
function is_touch_device() {
  return !!('ontouchstart' in window);
}

$(document).ready(function() {
	$(".fbox").fancybox({
		'openEffect'	:	'elastic',
		'closeEffect'	:	'elastic',
		'openSpeed'		:	600, 
		'closespeed'		:	200, 
		'overlayShow'	:	false,
		'width': 800,
		'height': 700,
		'closeBtn': true
	});
	
});</script>