<%= link_to "(edit estimate details)", edit_job_path(@job) %><br /><br />
<div style="width:50%;">
	<%= @job.description %>
</div>

<div style="float:right; width: 40%;">     
	<% if !@job.estimates.select{|e| e.sold? }.empty? %>
		<div class="job-sold">
			This job has been marked as sold!<br />
			<%= link_to "Click here to view the contract on the schedule", "/schedule" %>
			<br />
			<%= link_to "Print the original estimate", "#{print_modal_job_url(@job)}/?type=#{@job.job_type.kind.downcase}", :class => "iframe" %>
		</div>
	<% else %>
		
		<h2>Print this Job Estimate</h2>
		<div>
			Print: <br />
			<p style="padding-left:30px;">
				<%= link_to "Economy estimate", "#{print_modal_job_url(@job)}/?type=economy", :class => "iframe" %><br />
				<%= link_to "Standard estimate", "#{print_modal_job_url(@job)}/?type=standard", :class => "iframe" %><br />
				<%= link_to "Elite estimate", "#{print_modal_job_url(@job)}/?type=elite", :class => "iframe" %>
			</p>	
		</div>
		<script type="text/javascript">
		function closeFancyboxAndRedirectToUrl(url){
		    $.fancybox.close();
		    window.location = url;
		}
		</script>
	<% end %>
	
	<br />
	<h2>Type &amp; Off-Level Amounts</h2>
	<p>
		The current price of <strong><%= money_from_cents @job.price_in_cents %></strong> is priced for an <strong><%= @job.job_type.kind %></strong> pad with an off-level amount of 
		
		<% if @job.off_level_amount_in_inches != nil %>
			<%= @job.off_level_amount_in_inches %>" included in the final price.
		<% else %>
			0" to 6" included in the final price.
		<% end %>
		
		<% if @job.job_type.kind == "Standard" || @job.job_type.kind == "Elite" %>
			<br />To adjust the price for economy, subtract the amount shown for the off-level depth from the final price.
		<% end %>
	</p>
	<% job_block = @job.pad_job_type_offset %>
	<table>
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Economy</th>
				<th>Standard</th>
				<th>Elite</th>
			</tr>
			<tr>
				<td>&lt;6"</td>
				<td><%= money_from_cents(((job_block[:economy][:zero] - @job.price_in_cents) / 100).round * 100) %></td>
				<td><%= money_from_cents(((job_block[:standard][:zero] - @job.price_in_cents) / 100).round * 100) %></td>
				<td><%= money_from_cents(((job_block[:elite][:zero] - @job.price_in_cents) / 100).round * 100) %></td>
			</tr>
			<tr>
				<td>12"</td>
				<td><%= money_from_cents(((job_block[:economy][:twelve] - @job.price_in_cents) / 100).round * 100) %></td>
				<td><%= money_from_cents(((job_block[:standard][:twelve] - @job.price_in_cents) / 100).round * 100) %></td>
				<td><%= money_from_cents(((job_block[:elite][:twelve] - @job.price_in_cents) / 100).round * 100) %></td>
			</tr>
			<tr>
				<td>18"</td>
				<td><%= money_from_cents(((job_block[:economy][:eighteen] - @job.price_in_cents) / 100).round * 100) %></td>
				<td><%= money_from_cents(((job_block[:standard][:eighteen] - @job.price_in_cents) / 100).round * 100) %></td>
				<td><%= money_from_cents(((job_block[:elite][:eighteen] - @job.price_in_cents) / 100).round * 100) %></td>
			</tr>
			<tr>
				<td>24"</td>
				<td><%= money_from_cents(((job_block[:economy][:twentyfour] - @job.price_in_cents) / 100).round * 100) %></td>
				<td><%= money_from_cents(((job_block[:standard][:twentyfour] - @job.price_in_cents) / 100).round * 100) %></td>
				<td><%= money_from_cents(((job_block[:elite][:twentyfour] - @job.price_in_cents) / 100).round * 100) %></td>
			</tr>
			<tr>
				<td>30"</td>
				<td><%= money_from_cents(((job_block[:economy][:thirty] - @job.price_in_cents) / 100).round * 100) %></td>
				<td><%= money_from_cents(((job_block[:standard][:thirty] - @job.price_in_cents) / 100).round * 100) %></td>
				<td><%= money_from_cents(((job_block[:elite][:thirty] - @job.price_in_cents) / 100).round * 100) %></td>
			</tr>
			<tr>
				<td>36"</td>
				<td><%= money_from_cents(((job_block[:economy][:thirtysix] - @job.price_in_cents) / 100).round * 100) %></td>
				<td><%= money_from_cents(((job_block[:standard][:thirtysix] - @job.price_in_cents) / 100).round * 100) %></td>
				<td><%= money_from_cents(((job_block[:elite][:thirtysix] - @job.price_in_cents) / 100).round * 100) %></td>
			</tr>
		</thead>
	</table>
</div>
<div style="width:50%;">
	<table>
		<thead>
		<tr>
			<th>Item</th>
			<th>Quantity</th>
			<th>Cost</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td><b>Pad Size</b></td>
			<td><%= @job.width rescue "" %> x <%= @job.length rescue "" %></td>
			<td></td>
		</tr>
		<tr>
			<td>Square Footage</td>
			<td><%= @job.pad_job.square_footage %></td>
			<td></td>
		</tr>
		<tr>
			<td>Cubic Footage</td>
			<td><%= number_with_precision @job.pad_job.cubic_footage %></td>
			<td></td>
		</tr>
		<tr>
			<td>Perimeter</td>
			<td><%= @job.pad_job.perimeter %> ft</td>
			<td></td>
		</tr>
		<tr>
			<td>Off-level amount</td>
			<td><%= @job.off_level_amount_in_inches %> inches
				<br /><%= number_with_precision @job.pad_job.my_depth %> feet
			</td>
			<td></td>
		</tr>
		<tr>
			<td>Fill type:</td>
			<td><%= @job.off_level_fill_type %></td>
			<td>
				<% if @job.off_level_fill_type == "Excavate" %>
					<%= money_from_cents @job.pad_job.excavation_labor %>
				<% else %>
					&nbsp;
				<% end %>
			</td>
		</tr>
		<tr>
			<td>Rows of Boards (on slope)</td>
			<td><%= (number_with_precision @job.pad_job.board_rows) %> rows</td>
			<td></td>
		</tr>
	
		<tr>
			<td>Boards</td>
			<td><%= number_with_precision @job.pad_job.board_quantity_in_feet %> ft</td>
			<td><%= money_from_cents @job.pad_job.board_cost %></td>
		</tr>
	
		<% if @job.job_type.kind == "Elite" %>
		<tr>
			<td>Trex Additional</td>
			<td><%= @job.pad_job.perimeter %> ft</td>
			<td><%= money_from_cents @job.pad_job.trex_additional_cost %></td>
		</tr>
		<% end %>
		<tr>
			<td>Weed Fabric</td>
			<td><%= '%.2f' % @job.pad_job.weed_fabric_per_foot.to_s %> per ft</td>
			<td><%= money_from_cents @job.pad_job.weed_fabric_cost %></td>
		</tr>
		<tr>
			<td>Rebar</td>
			<td><%= @job.pad_job.rebar_quantity %></td>
			<td><%= money_from_cents @job.pad_job.rebar_cost %></td>
		</tr>
		<tr class="endsection">
			<td>Rock (<%= RockPadVariable.find_by_key("rockpad_square_footage_per_ton").value %> sqft/ton @ 6")</td>
			<td><%= number_with_precision(@job.pad_job.rock_tonage, :precision => 2, :strip_insignification_zeros => true) %> tons</td>
			<td><%= money_from_cents @job.pad_job.rock_cost %></td>
		</tr>
	
		<tr>
			<td>Truck Gas Cost</td>
			<td><%= @job.pad_job.round_trip_distance %> miles</td>
			<td><%= money_from_cents @job.pad_job.truck_gas_cost %></td>
		</tr>
		<tr>
			<td>Truck Maintenace Cost</td>
			<td><%= @job.pad_job.round_trip_distance %> miles</td>
			<td><%= money_from_cents @job.pad_job.truck_maintenance_cost %></td>
		</tr>
		<tr class="endsection">
			<td>Driving Labor</td>
			<td><%= @job.pad_job.round_trip_distance %> miles</td>
			<td><%= money_from_cents @job.pad_job.driving_labor_cost %></td>
		</tr>

		<tr>
			<td>Working Labor</td>
			<td><%= @job.pad_job.working_labor_hours %> hours</td>
			<td><%= money_from_cents @job.pad_job.working_labor_cost %></td>
		</tr>
		<tr>
			<td>Materials</td>
			<td></td>
			<td><%= money_from_cents @job.pad_job.total_material_cost %></td>
		</tr>
		<tr class="endsection">
			<td>Total Cost</td>
			<td></td>
			<td><%= money_from_cents @job.pad_job.total_cost %></td>
		</tr>
	
		<tr>
			<td>Material Markup</td>
			<td></td>
			<td><%= money_from_cents @job.pad_job.total_material_markup %></td>
		</tr>
		<tr class="endsection">
			<td>Labor Markup</td>
			<td></td>
			<td><%= money_from_cents @job.pad_job.total_labor_markup %></td>
		</tr>
	
		<tr>
			<td><b>Base Price</b></td>
			<td></td>
			<td><%= money_from_cents @job.pad_job.total_price %></td>
		</tr>
	
		<tr>
			<td><b>Additional Price Added</b></td>
			<td></td>
			<td><%= money_from_cents(@job.additional_price.to_f * 100) %></td>
		</tr>
		<tr>
			<td><b>DISCOUNT</b></td>
			<td></td>
			<td><%= money_from_cents(@job.discount * 100) %></td>
		</tr>
		<tr>
			<td><b>FINAL PRICE</b></td>
			<td></td>
			<td><%= money_from_cents(@job.price_in_cents) %></td>
		</tr>
		</tbody>
	</table>
</div>
<h2>Communication History</h2>

<% for update in @job.statuses.reverse %>
	<div class="status_update">
		<h3>On <%= update.created_at.strftime("%m/%d") %> <b><%= update.creator.name %></b> wrote:
		<span>Referencing: <%= link_to update.job.referencing, edit_job_path(update.job) %></span>
		</h3>
		<%= simple_format update.notes %>
		<p class="small">Assigned to: <b><%= update.assignee.name rescue "" %></b>
			<span>Next Action: <b><%= update.next_action.name rescue "None" %></b></span>	
		</p>
	</div>
<% end %>


<h2 style="margin-top:50px;">Remove this <%= @job.estimate_or_contract.downcase %> from the system</h2>
<p>This will remove all history and status from the database, please be sure you want to do this as it could have other repercussions.</p>
<%= button_to "Destroy", @job, :confirm => 'Are you sure?', :method => :delete %>
<br /><br />
</div>

<script type="text/javascript">
$(document).ready(function() {
	$("a.iframe").fancybox({
		'transitionIn'	:	'elastic',
		'transitionOut'	:	'elastic',
		'speedIn'		:	600, 
		'speedOut'		:	200, 
		'overlayShow'	:	false,
		'width': 800,
		'height': 700
	});
	
});</script>