<%= javascript_include_tag "jquery-1.7.1.min" %>
<style>
	@media only print
	{
		#links {
			display:none;
		}
	}
</style>
<div id="estimate" style="width:750px; height:970px;">
	<div style="float:left; width:50%;" id="links">
		<br />
		<a href="#" id="print-link">&raquo; <%= image_tag "print.png", width:"110px", height:"45px" %></a><br />
		<br />
		<% if @estimate.sold? %>
			<% if @estimate.job_type.kind == @type %>
				This job has been sold based on this estimate. <br /> 
				<% if @estimate.contract.scheduled_date %>
					It is currently scheduled for <%= @estimate.contract.scheduled_date.strftime("%m/%d/%Y") rescue " -- not scheduled" %>.
				<% else %>
					<a id="go-to-schedule" href="/schedule" target="_parent">Schedule it now!</a>
				<% end %>
			<% else %>
				A <%= @estimate.job_type.kind.capitalize %> estimate has been sold for this job. <br /><%= link_to "Click to view that estimate", "/jobs/#{@job.id}/print/?type=#{@estimate.job_type.kind}" %>
			<% end %>
		<% else %>
			<a href="/estimates/push_to_sold/<%= @job.id %>/<%= @type %>" target="_parent">Move to Production Schedule</a>
		<% end %>
	</div>
	
	<div style="clear:both;"></div>
	<hr />
		<%= render :partial => "estimates/print_foreman_modal" %>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#print-link").click(function() {
			window.print();
		})
	})
</script>
