<h2>Print this Job Estimate</h2>
<span style="float:right">

<h2>Estimate:</h2>
<%= link_to "(edit estimate details)", edit_job_path(@job) %><br />
<% if @job.contact && @job.contact.email %>
	<%= link_to "(email to customer)", "/estimates/email/#{@job.id}/#{@type}" %><br />
<% end %>
<span class="sell-it">
	<% if @estimate && @estimate.sold? %>
		This job has been sold based on this estimate.  It is currently scheduled for <%= @estimate.contract.scheduled_date rescue " -- not scheduled" %>.
	<% else %>
		<%= link_to "Move to Production Schedule", "/estimates/push_to_sold/#{@job.id}/#{@type}"%>
	<% end %>
</span>
</span>

<div id="flash_contract">
</div>

	<% flashvars =  "{ 
			contact_name: '#{ escape_javascript(@options_for_job[:contact_name]) }',
			contact_address: '#{ escape_javascript(@options_for_job[:contact_address]) }',
			contact_address2: '#{ escape_javascript(@options_for_job[:contact_address2]) }',
			contact_phone_home: '#{ escape_javascript(@options_for_job[:contact_phone_home]) }',
			contact_phone_cell: '#{ escape_javascript(@options_for_job[:contact_phone_cell]) }',
			contact_phone_work: '#{ escape_javascript(@options_for_job[:contact_phone_work]) }',
			contact_email: '#{ escape_javascript(@options_for_job[:contact_email]) }',
			job_location_abbr: '#{ escape_javascript(@options_for_job[:job_location_abbr]) }',
			job_location_phone: '#{ escape_javascript(@options_for_job[:job_location_phone]) }',
			job_quality: '#{ escape_javascript(@options_for_job[:job_quality]) }',
			job_quality_alt: '#{ escape_javascript(@options_for_job[:job_quality_alt]) }',
			job_extras: '#{ escape_javascript(@options_for_job[:job_extras]) }',
			job_price: '#{ escape_javascript(@options_for_job[:job_price]) }',
			additional_price: '#{ escape_javascript(@options_for_job[:additional_price]) }',
			job_total_price: '#{ escape_javascript(@options_for_job[:job_total_price]) }',
			job_width: '#{ escape_javascript(@options_for_job[:job_width]) }',
			job_length: '#{ escape_javascript(@options_for_job[:job_length]) }',
			job_inches: '#{ escape_javascript(@options_for_job[:job_inches]) }',
			job_kind: '#{ escape_javascript(@options_for_job[:job_kind]) }',
			foundation_kind: '#{ escape_javascript(@options_for_job[:foundation_kind]) }',
			job_date: '#{ escape_javascript(@options_for_job[:address2]) }'
		}"
	%>

<% content_for :js_bottom do %>
		<script type="text/javascript" charset="utf-8">
		jQuery('#flash_contract').flash({
		    src: '/flash/contract.swf',
		    width: 612,
		    height: 783,
				flashvars: <%= flashvars %>
		})
		</script>
<% end %>

