<h1>Editing <%= @user.name %></h1>
<p>If you would like to see what the app looks like logged in as <%= @user.name %>,
	<%= link_to "Then Spoof #{@user.name}", "/users/become/#{@user.id}", class: "button white-gradient compact icon-right" %>

<%= form_for @user do |f| %>
	<%= f.label :name %><br />
	<%= f.text_field :name %><br />
	<%= f.label :email %><br />
	<%= f.text_field :email %><br />
	<%= f.label :password %><br />
	<%= f.password_field :password %><br />
	<%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation %><br /><br />
	<%= f.label :permissions %><br />

	<% if @user.permissions_levels.to_s.include?("Admin") %>
		<input type="checkbox" name="permissions_level_admin" value="Admin" checked="checked">Admin</input>
	<% else %>
		<input type="checkbox" name="permissions_level_admin" value="Admin">Admin</input>
	<% end %>
	<% if @user.permissions_levels.to_s.include?("Crew Foreman") %>
		<input type="checkbox" name="permissions_level_foreman" value="Crew Foreman" checked="checked">Crew Foreman</input>
	<% else %>
		<input type="checkbox" name="permissions_level_foreman" value="Crew Foreman">Crew Foreman</input>
	<% end %>
	<br />
	<%= f.label :crew %><br />
	<%= f.select :crew_id, Crew.all.collect{|c| [c.crew_name, c.id]}, :include_blank => true %><br />
	<br />
	<%= f.label :email_signature %><br />
	<%= f.text_area :email_signature, style: "width: 350px; height: 150px;" %>
	<br />
	<%= f.submit "Save this User", class: "button green-gradient" %>
<% end %>