<%#= render :partial => "map_day_jobs" %>
<div id="<%= day.to_s %>">
	<h2>
		<%= day.strftime("%A %B %d, %Y") %>
	</h2>
	
	<table class="table_liquid" cellspacing="0">
		<caption></caption>
		<tr>
			<% @crews.each do |c| %>
				<th><%= c.crew_name %></th>
			<% end %>
		</tr>
		<tr>
			<% @crews.each do |c| %>
			<td>
				<% (1..c.job_max_per_day).each do |it| %>
					<% con = @contracts.select{|co| (co.scheduled_date.beginning_of_day rescue false) == day.beginning_of_day && co.crew == c && co.position_in_day == it } %>
	
					<% if con.empty? %>
						<a id="empty-<%= c.id %>-<%= it %>-<%= day.beginning_of_day.to_i %>" class="schedule_button empty" href="#">
							<span class="schedule_button_heading">Empty Slot #<%= it %></span>
							<span>&nbsp;</span>
						</a>
						<br />
					<% else %>
						<% con = con.first %>
						<a class="schedule_button full" href="#">
							<span class="schedule_button_heading"><%= con.estimate.job.name rescue ""%></span>
							<span><%= con.estimate.job.city_state %>
							</span>
						</a>
						<br />
					<% end %>
				<% end %>
			</td>
			<% end %>
		</tr>
		<tr class="crew_maps">
			<% index_checker = 1 %>
			<% @crews.each do |c| %>
				<td>
					<% jobs = [] %>
					<% @contracts.select{|co| co.scheduled_date.beginning_of_day == day.beginning_of_day && co.crew_id == c.id }.each do |z| 
						jobs << z.estimate.job
					end %>
					<% if @crews.count == index_checker %>
						<%#= gmaps("markers" => {"data" => jobs.to_gmaps4rails}, 
											"map_options" => { "height" => 150, "width" => "88%", :id => "crew#{c.id}" } ) %>
					<% else %>
						<%#= gmaps("markers" => {"data" => jobs.to_gmaps4rails}, 
											"map_options" => { "height" => 150, "width" => "88%", :id => "crew#{c.id}"},
											:last_map => false ) %>
					<% end %>
				</td>
				<% index_checker = index_checker + 1 %>
			<% end %>
		</tr>
	</table>
	<div class="hide_show_links" style="margin-bottom: 50px;">
	<a href="#" class="show_crew_maps">Show Crew Maps</a> 
	<a href="#" class="hide_crew_maps">Hide Crew Maps</a>
	| 
	<a href="#" class="show_daily_map">Show Daily Map</a>
	<a href="#" class="hide_daily_map">Hide Daily Map</a>
	</div>
</div>

<script type="text/javascript" charset="utf-8">

	// jQuery(function() {
	// 	jQuery(".crew_maps").hide();
	// 	jQuery(".daily_map").hide();
	// 	jQuery(".hide_crew_maps").hide();
	// 	jQuery(".hide_daily_map").hide();
	// 	jQuery(".show_crew_maps").click(function() {
	// 		jQuery(this).parent().parent().find(".crew_maps").show();			
	// 		jQuery(this).parent().find(".hide_crew_maps").show();
	// 		jQuery(this).hide();
	// 	});
	// 	jQuery(".hide_crew_maps").click(function() {
	// 		jQuery(this).parent().parent().find(".crew_maps").hide();			
	// 		jQuery(this).parent().find(".show_crew_maps").show();
	// 		jQuery(this).hide();
	// 	});
	// 	jQuery(".show_daily_map").click(function() {
	// 		jQuery(this).parent().parent().find(".daily_map").show();			
	// 		jQuery(this).parent().find(".hide_daily_map").show();
	// 		jQuery(this).hide();
	// 	});
	// 	jQuery(".hide_daily_map").click(function() {
	// 		jQuery(this).parent().parent().find(".daily_map").hide();
	// 		jQuery(this).parent().find(".show_daily_map").show();
	// 		jQuery(this).hide();
	// 	});


	// });

</script>

<!-- <iframe width="88%" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=lancaster+pa&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=50.244827,114.169922&amp;ie=UTF8&amp;hq=&amp;hnear=Lancaster,+Pennsylvania&amp;t=m&amp;z=13&amp;ll=40.037876,-76.305514&amp;output=embed"></iframe> -->
