

<%#= render :partial => "map_day_jobs" %>

<div id="<%= day.to_s %>">
	<h2>
		<%#= Date.parse(sd.day).strftime("%A %B %d, %Y") %>
	</h2>
	
	<table class="table_liquid" cellspacing="0">
		<caption></caption>
		<tr>
			<% @crews.each do |c| %>
				<th><%= c.crew_name%></th>
			<% end %>
		</tr>
		<tr>
			<% @crews.each do |c| %>
			<td style="width:<%= 100 / @crews.count %>%">
				<% c.contracts.select{|co| co.schedule_day_id == sd.id}.each do |co| %>
						<a class="schedule_button" href="#">
							<span class="schedule_button_heading">Job #<%= co.id %></span>
							<span><%= co.estimate.job.conta	ct.name rescue ""%><br /> <%= co.estimate.job.city rescue "" %>, <%= co.estimate.job.state rescue "" %></span>
						</a>
						<br />
				<% end %>
			</td>
			<% end %>
		</tr>
		<tr class="crew_maps">
			<% @crews.each do |c| %>
				<td>
					<% source_string = ""%>
					<iframe width="88%" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=lancaster+pa&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=50.244827,114.169922&amp;ie=UTF8&amp;hq=&amp;hnear=Lancaster,+Pennsylvania&amp;t=m&amp;z=13&amp;ll=40.037876,-76.305514&amp;output=embed"></iframe>
				</td>
			<% end %>
		</tr>
	</table>
	<div class="hide_show_links">
	<a href="#" class="show_crew_maps">Show Crew Maps</a> 
	<a href="#" class="hide_crew_maps">Hide Crew Maps</a>
	| 
	<a href="#" class="show_daily_map">Show Daily Map</a>
	<a href="#" class="hide_daily_map">Hide Daily Map</a>
</div>
</div>

<script type="text/javascript" charset="utf-8">

	// jQuery(function() {
	// 	jQuery(".crew_maps").hide();
	// 	jQuery(".daily_map").hide();
	// 	jQuery(".hide_crew_maps").hide();
	// 	jQuery(".hide_daily_map").hide();
	// 	jQuery(".show_crew_maps").click(function() {
	// 		jQuery(this).parent().parent().find(".crew_maps").show();			
	// 		jQuery(this).parent().find(".hide_crew_maps").show();
	// 		jQuery(this).hide();
	// 	});
	// 	jQuery(".hide_crew_maps").click(function() {
	// 		jQuery(this).parent().parent().find(".crew_maps").hide();			
	// 		jQuery(this).parent().find(".show_crew_maps").show();
	// 		jQuery(this).hide();
	// 	});
	// 	jQuery(".show_daily_map").click(function() {
	// 		jQuery(this).parent().parent().find(".daily_map").show();			
	// 		jQuery(this).parent().find(".hide_daily_map").show();
	// 		jQuery(this).hide();
	// 	});
	// 	jQuery(".hide_daily_map").click(function() {
	// 		jQuery(this).parent().parent().find(".daily_map").hide();
	// 		jQuery(this).parent().find(".show_daily_map").show();
	// 		jQuery(this).hide();
	// 	});


	// });

</script>