<div id="queued_contracts">
	<a href="#" class="tog">hide/show</a>
	<h3>Unscheduled Contracts </h3>
	<div>
	<% for con in @queued_contracts %>
		<p id="qc-<%= con.id %>" class="queued_cons">
		<%= link_to con.estimate.job.contact.name, 
			"/estimates/view_estimate/#{con.estimate.token}?type=#{con.estimate.job.job_type.kind}", 
			target: "_blank" %>
		<%= " - ##{con.estimate.job.location.abbreviation rescue ''} - #{con.estimate.invoice_number rescue '000'}" %>
		<br />
			<%= con.estimate.job.city_state %>
			<a href="/contacts/status/<%= con.estimate.job.contact.id %>?contract_id_rem=<%= con.id %>" target="_blank" class="rem">rem</a>
		</p>
	<% end %>
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
  function createCrewMaps(crewrow) {
  		// alert("create crew maps")
      // create mxn object
      jQuery(crewrow).find("td").each(function(){
      	var crew_base = jQuery(this).find("a.crew_base").attr("rel").split(",");
      	var randomnumber = Math.floor(Math.random()*999999999);
      	jQuery(this).append("<div id='crew_tiny_map_"+randomnumber+"' class='crew_tiny_map' style='width: 88%; height: 200px;'></div>");
      	map = new mxn.Mapstraction('crew_tiny_map_'+randomnumber, 'leaflet');
      	var the_center = new mxn.LatLonPoint(crew_base[0], crew_base[1]);
      	map.setCenterAndZoom(the_center, 6);
	    var marker = new mxn.Marker(the_center);
    	marker.setIcon("/assets/images/marker.png");
    	marker.setIconSize(24,24);
	    map.addMarker(marker);
		// marker.addData({'infoBubble': 'This is a popup'})
 	    // marker.openBubble();
 	    map.addSmallControls();
 	    jQuery(this).find("a.job_site").each(function() {
 	    	var loc = jQuery(this).attr("rel").split(",");
 	    	var spot = new mxn.LatLonPoint(loc[0], loc[1]);
 	    	var marker = new mxn.Marker(spot);
 	    	map.addMarker(marker);
 	    });
 	    jQuery(this).find("div.map_links").hide();

      });


  }
   function killCrewMaps(crewrow) {
      jQuery(crewrow).find("td").each(function(){
      	jQuery(this).find("div.crew_tiny_map").remove();
      });
  }
		CM_ATTR = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://cloudmade.com">CloudMade</a>';

		CM_URL = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/{styleId}/256/{z}/{x}/{y}.png';

  function createDailyMap(dailyrow) {
  		// alert("create crew maps")
      // create mxn object
      // jQuery(crewrow).find("td").each(function(){
      	// var crew_base = jQuery(this).find("a.crew_base").attr("rel").split(",");
      	var randomnumber = Math.floor(Math.random()*999999999);
      	jQuery(dailyrow).find("td").append("<div id='daily_map_"+randomnumber+"' class='daily_map' style='width: 96%; height: 500px;'></div>");
 		//      	map = new mxn.Mapstraction('daily_map_'+randomnumber, 'leaflet');
 		//       	var the_center = new mxn.LatLonPoint(39.9831616,-75.8238355);
 		//       	map.setCenterAndZoom(the_center, 8);
 		// 
 		// // marker.addData({'infoBubble': 'This is a popup'})
 		//  	    // marker.openBubble();
 		//  	    map.addSmallControls();
 		//  	    jQuery(dailyrow).find("a.job_site").each(function() {
 		//  	    	var loc = jQuery(this).attr("rel").split(",");
 		//  	    	var spot = new mxn.LatLonPoint(loc[0], loc[1]);
 		//  	    	var marker = new mxn.Marker(spot);
 		// 	    	marker.setIcon("/assets/images/marker-"+loc[2]+".png");
 		//  	    	map.addMarker(marker);
 		//  	    });
 		//  	    jQuery(dailyrow).find("div.map_links").hide();
 		// 
 
		var map = L.map('daily_map_'+randomnumber).setView([39.9831616,-75.8238355], 8);

 	    jQuery(dailyrow).find("a.job_site").each(function() {
			loc = jQuery(this).attr("rel").split(",");
			
			L.tileLayer(CM_URL, {attribution: CM_ATTR, styleId: 76267}).addTo(map);
			var MapIcon = L.Icon.extend({
				options: {
					iconUrl: "/assets/images/map/marker-"+loc[2]+"-"+loc[3]+".png",
					// shadowUrl: '../docs/images/leaf-shadow.png',
					iconSize: [25, 41],
					// shadowSize: [50, 64],
					iconAnchor: [22, 41],
					// shadowAnchor: [4, 62],
					popupAnchor: [-3, -76]
				}
			});

			// var greenIcon = new LeafIcon(),
			// 	redIcon = new LeafIcon({iconUrl: '../docs/images/leaf-red.png'}),
			// 	orangeIcon = new LeafIcon({iconUrl: '../docs/images/leaf-orange.png'});

			// var marker1 = new L.Marker(new L.LatLng(51.5, -0.09), {icon: greenIcon}),
			// 	marker2 = new L.Marker(new L.LatLng(51.495, -0.083), {icon: redIcon}),
			// 	marker3 = new L.Marker(new L.LatLng(51.49, -0.1), {icon: orangeIcon});
		
			greenIcon = new MapIcon(),
			marker1 = new L.Marker(new L.LatLng(loc[0], loc[1]), {icon: greenIcon});

			marker1.bindPopup(loc[4] + " - <a href='/estimates/view_estimate/" + loc[5] + "?type=<%= con.estimate.job.job_type.kind %>' target='_blank'>"+loc[6]+"</a>");
		// marker2.bindPopup("I am a red leaf.");
		// marker3.bindPopup("I am an orange leaf.");

			map.addLayer(marker1);
		});
		jQuery(dailyrow).find("div.map_links").hide();
 	    

      // });


  }
  function killDailyMap(dailyrow) {
      jQuery(dailyrow).find("div.daily_map").remove();
  }
//]]>
</script> 
<script type="text/javascript" charset="utf-8">

	jQuery(function() {
		
		jQuery("#queued_contracts a.tog").click(function() {
			jQuery(".queued_cons").toggle();
			jQuery("#queued_contracts h3").toggle();
		});
		jQuery(".queued_cons").toggle();
		jQuery("#queued_contracts h3").toggle();	
		
		jQuery(".crew_maps").hide();
		jQuery(".daily_map").hide();
		jQuery(".hide_crew_maps").hide();
		jQuery(".hide_daily_map").hide();
		jQuery(".show_crew_maps").click(function() {
			jQuery(this).parent().parent().find(".crew_maps").show();	
			createCrewMaps(jQuery(this).parent().parent().find(".crew_maps"));		
			jQuery(this).parent().find(".hide_crew_maps").show();
			jQuery(this).hide();
		});
		jQuery(".hide_crew_maps").click(function() {
			jQuery(this).parent().parent().find(".crew_maps").hide();			
			killCrewMaps(jQuery(this).parent().parent().find(".crew_maps"));		
			jQuery(this).parent().find(".show_crew_maps").show();
			jQuery(this).hide();
		});
		jQuery(".show_daily_map").click(function() {
			jQuery(this).parent().parent().find(".daily_map").show();	
			createDailyMap(jQuery(this).parent().parent().find(".daily_map"));
			jQuery(this).parent().find(".hide_daily_map").show();
			jQuery(this).hide();
		});
		jQuery(".hide_daily_map").click(function() {
			jQuery(this).parent().parent().find(".daily_map").hide();
			killDailyMap(jQuery(this).parent().parent().find(".daily_map"));
			jQuery(this).parent().find(".show_daily_map").show();
			jQuery(this).hide();
		});
	});

// </script>