<div class="jquery_tab">

    <div class="content_block">
		<div id="filter_links">
    	<a href="/schedule/?until=-4.w">previous 4 weeks</a> | 
    	<a href="/schedule/" style="color: #f90; font-weight: bold;">TODAY + 4 weeks</a> | 
    	<a href="/schedule/?until=4.w">4 - 7 weeks out</a> | 
    	<a href="/schedule/?until=8.w">8 - 11 weeks out</a> | 
    	<a href="/schedule/?until=12.w">12 - 15 weeks out</a> | 
    	<a href="/schedule/?until=16.w">16 - 19 weeks out</a> |
    	<a href="/schedule/?until=20.w">20 - 23 weeks out</a> |
    	<a href="/schedule/?until=24.w">24 - 27 weeks out</a>  
    	</div>
	

			<div id="today-marker"></div>
			<% ((@query_start_date)..(@query_start_date + 4.weeks)).each do |day| %>
				<%= render :partial => "day_table", :locals => {:day => day} %>
			<% end %>
		<% u = params[:until].split(".").first.to_i rescue 0 %>
		<div style="font-size: 2em; margin-bottom: 40px;"><a href="/schedule/?until=<%= u + 4 %>.w">Show me the next 4 weeks &raquo;</a>  </div>
	    
    </div>
</div>


<%= render :partial => "queued_contracts" %>

<%= content_for :js_bottom do %>
	<%= render :partial => 'persistence' %>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$("#show-previous-button").click(function() {
			$("#show-previous-button").hide();
			$("#hide-previous-button").show();
			$(".previous-calendar").slideDown('slow', function() {
				location.hash = "#today-marker";
			});			
		})
		
		$("#hide-previous-button").click(function() {
			$(".previous-calendar").slideUp();
			$("#show-previous-button").show();
			$("#hide-previous-button").hide();
		})
	})
</script>