<div class="jquery_tab">

    <div class="content_block">
			<div style="float:right;">
				<input type="button" id="show-previous-button" value="Show Previous Schedule" />
				<input type="button" id="hide-previous-button" value="Hide Previous Schedule" style="display:none;" />
			</div>
			<div class="previous-calendar" style="display:none;">
				<% ((Date.today - 15.days)..(Date.today)).each do |day| %>
					<%= render :partial => "day_table", :locals => {:day => day} %>
				<% end %>
			</div>
			<div id="today-marker"></div>
			<% ((Date.today)..(Date.today + 15.days)).each do |day| %>
				<%= render :partial => "day_table", :locals => {:day => day} %>
			<% end %>
    </div>
</div>


<%= render :partial => "queued_contracts" %>

<%= content_for :js_bottom do %>
	<%= render :partial => 'persistence' %>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$("#show-previous-button").click(function() {
			$("#show-previous-button").hide();
			$("#hide-previous-button").show();
			$(".previous-calendar").slideDown('slow', function() {
				location.hash = "#today-marker";
			});			
		})
		
		$("#hide-previous-button").click(function() {
			$(".previous-calendar").slideUp();
			$("#show-previous-button").show();
			$("#hide-previous-button").hide();
		})
	})
</script>