<div class="jquery_tab">

    <div class="content_block">
		<div id="filter_links">Weeks out: 
    	<a href="/schedule/?until=-2.w">prev 2w</a> | 
    	<a href="/schedule/" style="color: #f90; font-weight: bold;">TODAY - <%= (Time.current + 2.weeks).strftime("%m/%d") %></a> | 
    	<a href="/schedule/?until=2.w"><%= (Time.current + 2.weeks).strftime("%m/%d") %> - <%= (Time.current + 3.weeks).strftime("%m/%d") %></a> | 
    	<a href="/schedule/?until=3.w"><%= (Time.current + 3.weeks).strftime("%m/%d") %> - <%= (Time.current + 5.weeks).strftime("%m/%d") %></a> | 
    	<a href="/schedule/?until=5.w"><%= (Time.current + 5.weeks).strftime("%m/%d") %> - <%= (Time.current + 7.weeks).strftime("%m/%d") %></a> | 
    	<a href="/schedule/?until=7.w"><%= (Time.current + 7.weeks).strftime("%m/%d") %> - <%= (Time.current + 9.weeks).strftime("%m/%d") %></a> |
    	<a href="/schedule/?until=9.w"><%= (Time.current + 9.weeks).strftime("%m/%d") %> - <%= (Time.current + 11.weeks).strftime("%m/%d") %></a> |
    	<a href="/schedule/?until=11.w"><%= (Time.current + 11.weeks).strftime("%m/%d") %> - <%= (Time.current + 13.weeks).strftime("%m/%d") %></a> |
    	<a href="/schedule/?until=13.w"><%= (Time.current + 13.weeks).strftime("%m/%d") %> - <%= (Time.current + 15.weeks).strftime("%m/%d") %></a> |
    	<a href="/schedule/?until=15.w"><%= (Time.current + 15.weeks).strftime("%m/%d") %> - <%= (Time.current + 17.weeks).strftime("%m/%d") %></a> |
    	<a href="/schedule/?until=17.w"><%= (Time.current + 17.weeks).strftime("%m/%d") %> - <%= (Time.current + 19.weeks).strftime("%m/%d") %></a> |
    	<a href="/schedule/?until=19.w"><%= (Time.current + 19.weeks).strftime("%m/%d") %> - <%= (Time.current + 21.weeks).strftime("%m/%d") %></a> |
    	<a href="/schedule/?until=21.w"><%= (Time.current + 21.weeks).strftime("%m/%d") %> - <%= (Time.current + 23.weeks).strftime("%m/%d") %></a> |
    	<a href="/schedule/?until=23.w"><%= (Time.current + 23.weeks).strftime("%m/%d") %> - <%= (Time.current + 25.weeks).strftime("%m/%d") %></a> |
    	<a href="/schedule/?until=25.w"><%= (Time.current + 25.weeks).strftime("%m/%d") %> - <%= (Time.current + 27.weeks).strftime("%m/%d") %></a> |
    	<a href="/schedule/?until=27.w"><%= (Time.current + 27.weeks).strftime("%m/%d") %> - <%= (Time.current + 29.weeks).strftime("%m/%d") %></a> |
    	<a href="/schedule/?until=29.w"><%= (Time.current + 29.weeks).strftime("%m/%d") %> - <%= (Time.current + 31.weeks).strftime("%m/%d") %></a> 
    	</div>
	
		<h1>Today: <%= Time.current.strftime("%m/%d %H:%M") %> - <%= @query_start_date.strftime("%m/%d %H:%M") %></h1>
			<div id="today-marker"></div>
			<% ((@query_start_date)..(@query_start_date + 2.weeks)).each do |day| %>
				<%= render :partial => "day_table", :locals => {:day => day} %>
			<% end %>
		<% u = params[:until].split(".").first.to_i rescue 0 %>
		<div style="margin-bottom: 40px;">
			<a href="/schedule/?until=<%= u + 2 %>.w" class="button huge blue-gradient icon-right-fat">Show me the next 2 weeks </a>  </div>
	    
    </div>
</div>


<%= render :partial => "queued_contracts" %>

<%= content_for :js_bottom do %>
	<%= render :partial => 'persistence' %>
<% end %>
<style type="text/css" media="screen">
	<% for crew in Crew.find(:all) %>


	#top .crew_<%= crew.ordering %> .schedule_button.full {
		background: <%= crew.background_color %> url(<%= asset_path 'highlight_line.gif' %>) repeat-x top left;
		border:1px solid <%= crew.border_color %>;
		color: <%= crew.text_color %>;
	}

	<% end %>
</style>

<script type="text/javascript">
	$(document).ready(function() {
		$("#show-previous-button").click(function() {
			$("#show-previous-button").hide();
			$("#hide-previous-button").show();
			$(".previous-calendar").slideDown('slow', function() {
				location.hash = "#today-marker";
			});			
		})
		
		$("#hide-previous-button").click(function() {
			$(".previous-calendar").slideUp();
			$("#show-previous-button").show();
			$("#hide-previous-button").hide();
		})
	})
</script>