<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @payment.amount %>
</p>

<p>
  <b>Reference:</b>
  <%= @payment.reference %>
</p>

<p>
  <b>Method:</b>
  <%= @payment.method %>
</p>

<p>
  <b>User:</b>
  <%= @payment.user_id %>
</p>

<p>
  <b>Deposited at:</b>
  <%= @payment.deposited_at %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
