<h1>New location</h1>

<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this post from being saved:</h2>

	      <ul>
	      <% @location.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :abbreviation %><br />
    <%= f.text_field :abbreviation %>
  </p>
  <p>
    <%= f.label :address_1 %><br />
    <%= f.text_field :address_1 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :province, "State" %><br />
    <%= f.text_field :province %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip, :class => 'integer' %>
  </p>
  <p>
    <%= f.label :use_for_estimates %><br />
    <%= f.select :use_for_estimates, ['no','yes'] %>
  </p>

  <p>
    <%= f.submit 'Save this Location', class:"button green-gradient glossy" %>
  </p>
<% end %>

<hr />
<br /><br /><br /><br /><%= link_to 'Cancel & Go Back', locations_path, class:"blue button" %>
