<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>Phone:</b>
  <%=h @location.phone %>
</p>

<p>
  <b>Abbreviation:</b>
  <%=h @location.abbreviation %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>