<ul class="nav">
	<li><a class="headitem item1" href="/">Dashboard</a>
		<ul class="<%= "opened" if controller.controller_name == "dashboard" %>">
			<li class="<%= "current" if controller.action_name == "index" && controller.controller_name == "dashboard" %>"><a href="/">Dashboard &amp; My To-Do List</a></li>
			<li><a href="/dashboard/todos">Everyone's To-Do List</a></li>
		</ul>
	</li>
	<li><a class="headitem item2" href="#">Campaigns</a>
		<ul class="<%= "opened" if controller.controller_name == "campaigns" %>">
			<li class="<%= "current" if controller.action_name == "index" && controller.controller_name == "campaigns" %>"><a href="/campaigns">Track your Campaigns</a></li>
			<li><a href="/campaigns/new">+ Create a new Campaign</a></li>
		</ul>                            
	</li>
	<li><a class="headitem item4" href="#">Leads &amp; Estimates</a>
		<ul class="opened">
			<li><a href="/contacts/active_contacts">New Leads</a></li>
			<li><a href="/contacts/dead_contacts">Dead Leads</a></li>
			<li><a href="/contacts">Customers</a></li>
			<li><a href="/contacts/new">+ Add a new Lead</a></li>
		</ul>
	</li>
	<li>
		<ul class="opened"><a class="headitem item7" href="/reports">Referral Reports</a>
			<li><%= link_to "View Reports", reports_path %></li>
		</ul>
	</li>
	<li><a class="headitem item5" href="/schedule">Schedule</a>
		<ul class="opened">
			<li><a href="/schedule">Current Schedule</a></li>
			<li><a href="/schedule/printable">Printable Schedule</a></li>
		</ul>
	</li>
	<li><a class="headitem item6" href="#">Admin</a>
		<ul>
			<li><a href="/next_actions">Edit Next Actions</a></li>
			<li><a href="/foundations">Edit Foundations</a></li>
			<li><a href="/pad_sizes">Edit Pad Sizes</a></li>
			<li><a href="/rock_pad_variables">Edit Pad Variables</a></li>
			<li><a href="/crews">Edit Crews</a></li>
			<li><a href="/locations">Edit Locations/Phones</a></li>
			<li><a href="/content_data">Edit Content Data</li>
			<li><a href="/arrival_ranges">Edit Crew Arrival Times</li>
			<li><a href="/users">Manage Users</a></li>
		</ul>
	</li>
</ul><!--end subnav-->