<h1>Listing rigs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rigs.each do |rig| %>
  <tr>
    <td><%= rig.name %></td>
    <td><%= link_to 'Show', rig %></td>
    <td><%= link_to 'Edit', edit_rig_path(rig) %></td>
    <td><%= link_to 'Destroy', rig, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rig', new_rig_path %>
